---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
import { Picture } from "astro:assets";
import Button from "../../components/Shared/Button.astro";
import TriviaFinishOverlay from "../../components/Trivia/TriviaFinishOverlay.astro";
---

<Layout title="Trivia Runde 3 – Solution" showUserLink={false}>
  <div slot="left-headercol"></div>

  <TriviaFinishOverlay url="/videos/nilzvideo" />

  <div class="solution">
    <div class="cover">
      <Picture src="/bandcover/davidBowie.jpg" width={240} height={240} formats={["avif", "webp"]} alt="" />
    </div>
    <div class="headline">Hunky Dory – David Bowie</div>
    <div class="text">
      David Bowie nannte seinen Sohn, den Regisseur Duncan Jones, „Zowie“, weshalb dieser auch als Zowie Bowie bekannt
      ist. Duncan kam 1971, im Erscheinsungsjahr des Albums „Hunky Dory“, auf die Welt – Deshalb steht auf dem Rücken
      der Platte die Widmung „for small Z.“.
    </div>
  </div>

  <div class="centerButton">
    <Button id="openOverlay" buttonText="Spiel beenden" url="#" />
  </div>
</Layout>

<style>
  .solution {
    display: flex;
    padding: var(--spacing-spacing-s) var(--spacing-spacing-s) var(--spacing-spacing-md) var(--spacing-spacing-s);
    flex-direction: column;
    gap: var(--spacing-spacing-md);
    border-radius: var(--radius-radius-rounded);
    background: var(--colour-BG-secondary);
  }

  .cover {
    margin: 0 auto;
    position: relative;
  }

  .headline {
    color: var(--colour-text-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .text {
    color: var(--colour-text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .centerButton {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-spacing-xl);
  }
</style>

<script>
  import JSConfetti from "js-confetti";

  const jsConfetti = new JSConfetti();

  const overlayFinish = document.getElementById("overlayFinish") as HTMLElement;
  const openOverlay = document.getElementById("openOverlay") as HTMLElement;

  window.addEventListener("load", function (_event: Event): void {
    openOverlay.addEventListener("click", function (_event: Event): void {
      overlayFinish.style.visibility = "visible";
      jsConfetti.addConfetti().then(() => jsConfetti.clearCanvas());
    });
  });
</script>
