---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
import { Picture } from "astro:assets";
import Button from "../../components/Shared/Button.astro";
---

<Layout title="Trivia Runde 3 – Solution" showUserLink={false}>
  <div slot="left-headercol"></div>

  <div id="overlayFinish" class="overlayFinish">
    <div class="overlayFinish-content">
      <div class="shareRoot">
        <Icon name="share" width={48} height={48} />
      </div>
      <Icon name="diamond" width={150} height={150} />
      <div class="bigHeadline">Glückwunsch!</div>
      <div class="headline">PopRock erfolgreich durchgespielt!</div>
      <div class="subline">Punktzahl verdoppelt</div>
      <div class="points">+200 Pt</div>
      <div class="totalText">gesamt</div>
      <div class="totalPoints">1000 Pt</div>
      <div class="centerButton">
        <Button id="playVideo" buttonText="Video abspielen" url="/videos/nilzvideo" />
      </div>
    </div>
  </div>

  <div class="solution">
    <div class="cover">
      <Picture src="/bandcover/davidBowie.jpg" width={240} height={240} formats={["avif", "webp"]} alt="" />
    </div>
    <div class="headline">Hunky Dory – David Bowie</div>
    <div class="text">
      David Bowie nannte seinen Sohn, den Regisseur Duncan Jones, „Zowie“, weshalb dieser auch als Zowie Bowie bekannt
      ist. Duncan kam 1971, im Erscheinsungsjahr des Albums „Hunky Dory“, auf die Welt – Deshalb steht auf dem Rücken
      der Platte die Widmung „for small Z.“.
    </div>
  </div>

  <div class="centerButton">
    <Button id="openOverlay" buttonText="Spiel beenden" url="#" />
  </div>
</Layout>

<style>
  .overlayFinish {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
  }

  .overlayFinish-content {
    display: flex;
    width: 366px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-3);
    position: relative;
  }

  .overlayFinish-content .bigHeadline {
    color: var(--colour-text-primary);
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
  }

  .overlayFinish-content .headline {
    color: var(--colour-text-gold);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0.36px;
    text-align: center;
  }

  .overlayFinish-content .subline {
    color: var(--colour-text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
  }

  .overlayFinish-content .points {
    color: var(--colour-text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .overlayFinish-content .totalText {
    color: var(--colour-text-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0.36px;
  }

  .overlayFinish-content .totalPoints {
    color: var(--colour-text-primary);
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
  }

  .overlayFinish-content .shareRoot {
    position: absolute;
    top: -2rem;
    right: 1rem;
  }

  .solution {
    display: flex;
    padding: var(--spacing-spacing-s) var(--spacing-spacing-s) var(--spacing-spacing-md) var(--spacing-spacing-s);
    flex-direction: column;
    gap: var(--spacing-spacing-md);
    border-radius: var(--radius-radius-rounded);
    background: var(--colour-BG-secondary);
  }

  .cover {
    margin: 0 auto;
    position: relative;
  }

  .headline {
    color: var(--colour-text-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .text {
    color: var(--colour-text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .centerButton {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-spacing-xl);
  }
</style>

<script>
  import JSConfetti from "js-confetti";

  const jsConfetti = new JSConfetti();

  const overlayFinish = document.getElementById("overlayFinish") as HTMLElement;
  const openOverlay = document.getElementById("openOverlay") as HTMLElement;

  window.addEventListener("load", function (_event: Event): void {
    openOverlay.addEventListener("click", function (_event: Event): void {
      overlayFinish.style.visibility = "visible";
      jsConfetti.addConfetti().then(() => jsConfetti.clearCanvas());
    });
  });
</script>
