---
import Layout from "../../layouts/Layout.astro";
import { Picture } from "astro:assets";
import Button from "../../components/Button.astro";
---

<Layout title="Spiel-Home" showUserLink={false}>
  <div slot="left-headercol"></div>

  <div class="solution">
    <div class="cover">
      <Picture src="/bandcover/b52.jpg" width={240} height={240} formats={["avif", "webp"]} alt="" />
    </div>
    <div class="headline">B-52's – Cosmic Thing</div>
    <div class="text">
      Das Album „Cosmic Thing“ von B-52's markierte ihr Comeback nach dem Tod von Ricky Wilson an HIV und bot der Band
      eine therapeutische Erfahrung. Das fröhliche Cover, das diese positive Stimmung widerspiegelt, wurde von
      „Manhattan Design“ gestaltet, dem Studio, das auch das MTV-Logo entworfen hat.
    </div>
  </div>

  <div class="centerButton">
    <Button buttonText="nächste Runde" url="/rounds/round-three" />
  </div>
</Layout>

<style>
  .solution {
    display: flex;
    padding: var(--spacing-spacing-s) var(--spacing-spacing-s) var(--spacing-spacing-md) var(--spacing-spacing-s);
    flex-direction: column;
    gap: var(--spacing-spacing-md);
    border-radius: var(--radius-radius-rounded);
    background: var(--colour-BG-secondary);
  }

  .cover {
    margin: 0 auto;
    position: relative;
  }

  .headline {
    color: var(--colour-text-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .text {
    color: var(--colour-text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .centerButton {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-spacing-md);
  }
</style>
