---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
import BlondieCover from "../../assets/bandcover/blondie.jpg";
import B52Cover from "../../assets/bandcover/b52.jpg";
import ColdplayCover from "../../assets/bandcover/coldplay.jpg";
import KimCarnesCover from "../../assets/bandcover/kimCarnes.jpg";
import TriviaItem from "../../components/TriviaItem.astro";
import Button from "../../components/Button.astro";
---

<Layout title="Trivia Runde 2">
  <div slot="left-headercol"></div>

  <div id="overlayStart" class="overlayStart">
    <div class="overlayStart-content">
      <Icon name="star-golden" width={80} height={80} />
      <div class="headline">Trivia Frage</div>
      <div class="subline">verdoppeln Sie Ihren Punktestand!</div>
      <div class="question">
        Das Design Studio welchen Plattencovers hat außerdem auch das Logo des Musiksenders MTV gestaltet?
      </div>
      <div class="centerButton">
        <Button id="gameButton" buttonText="weiter" url="#" />
      </div>
    </div>
  </div>

  <div id="overlayTimeUp" class="overlayTimeUp">
    <div class="overlayTimeUp-content">
      <Icon name="clock" width={200} height={200} />
      <div class="headline">00:00</div>
      <div class="subline">Zeit ist abgelaufen!</div>
      <div class="centerButton">
        <Button buttonText="weiter" url="/trivia/trivia-two-solution" />
      </div>
    </div>
  </div>

  <div class="introText">
    <div class="headline">Runde 2 / 3 – Trivia Frage</div>
    <div class="subline">
      Das Design Studio welchen Plattencovers hat außerdem auch das Logo des Musiksenders MTV gestaltet?
    </div>
  </div>

  <div class="trivia">
    <a href="/trivia/trivia-two-won-gold">
      <TriviaItem band="The B-52's" album="Cosmic Thing" image={B52Cover} />
    </a>
    <a href="/trivia/trivia-two-lost">
      <TriviaItem band="Coldplay" album="Ghost Stories" image={ColdplayCover} />
    </a>
    <a href="/trivia/trivia-two-lost">
      <TriviaItem band="Blondie" album="Parallel Lines" image={BlondieCover} />
    </a>
    <a href="/trivia/trivia-two-lost">
      <TriviaItem band="Kim Carnes" album="Mistaken Identity" image={KimCarnesCover} />
    </a>
  </div>

  <div class="timer">
    <Icon name="clock" width={48} height={48} />
    <span id="minutes">00</span>:<span id="seconds">30</span>
  </div>
</Layout>

<style>
  .overlayStart,
  .overlayTimeUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
  }

  .overlayStart-content,
  .overlayTimeUp-content {
    display: flex;
    width: 366px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-3);
  }

  .overlayStart-content .headline {
    color: var(--colour-text-primary);
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
  }

  .overlayStart-content .subline {
    color: var(--colour-text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
  }

  .overlayStart-content .question {
    color: var(--colour-text-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
  }

  .overlayTimeUp-content .headline {
    color: var(--colour-text-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0.36px;
  }

  .overlayTimeUp-content .subline {
    color: var(--colour-text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    justify-content: center;
    display: inline-flex;
  }

  .introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-spacing-md);
  }

  .headline {
    color: var(--colour-text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .subline {
    width: 366px;
    color: var(--colour-text-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .trivia {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-1) var(--spacing-spacing-xl) var(--spacing-15) var(--spacing-spacing-xl);
    align-items: center;
    justify-content: center;
    gap: var(--spacing-spacing-xl);
  }

  .timer {
    padding: 24px 0 23px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    color: var(--colour-text-primary);
  }
</style>

<script>
  const overlayTimeUp = document.getElementById("overlayTimeUp") as HTMLElement;
  const overlayStart = document.getElementById("overlayStart") as HTMLElement;
  const gameButton = document.getElementById("gameButton") as HTMLElement;
  const minutesElement = document.getElementById("minutes") as HTMLElement;
  const secondsElement = document.getElementById("seconds") as HTMLElement;

  let timeRemaining = 30;
  let timerInterval: number | null = null;

  function updateTime() {
    const minutes = Math.floor(timeRemaining / 60);
    const seconds = timeRemaining % 60;

    minutesElement.textContent = minutes.toString().padStart(2, "0");
    secondsElement.textContent = seconds.toString().padStart(2, "0");

    if (timeRemaining === 0) {
      clearInterval(timerInterval!);
      overlayTimeUp.style.visibility = "visible";
    } else {
      timeRemaining--;
    }
  }

  function startTimer() {
    timerInterval = window.setInterval(updateTime, 1000);
    overlayStart.style.visibility = "hidden";
  }

  window.addEventListener("load", function (_event: Event): void {
    overlayTimeUp.style.visibility = "hidden";
    overlayStart.style.visibility = "visible";

    gameButton.addEventListener("click", startTimer);
  });
</script>
