---
import { Icon } from "astro-icon/components";
import Button from "../Shared/Button.astro";

const { url, genre } = Astro.props;
---

<div id="overlayWonLPSpecial" class="overlay">
  <div class="content">
    <div class="goldenLPRoot">
      <Icon name="golden-lp" width={200} height={200} />
      <Icon class="icon" name="rocket" width={80} height={80} />
    </div>
    <div class="headline">Glückwunsch!</div>
    <div class="centerText">
      Alles richtig! <br />
      Du hast die goldene {genre} Schallplatte erspielt!
    </div>
    <div class="point"></div>
    <div class="centerButton">
      <Button buttonText="Auflösung" url={url} />
    </div>
  </div>
</div>

<style>
  .overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: var(--text-color);

    visibility: hidden;
    background-color: rgb(0 0 0 / 90%);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    align-items: center;
    justify-content: center;

    width: 366px;
  }

  .headline {
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    line-height: 120%;
    color: var(--text-color);
  }

  .point {
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    color: var(--text-color);
    letter-spacing: 2px;
  }

  .centerButton {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-md);
  }

  .smallText {
    font-size: 14px;
  }

  .centerText {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    color: var(--colour-text-secondary);
    text-align: center;
  }

  .goldenText {
    color: var(--primary-color);
  }

  .goldenLPRoot {
    position: relative;
  }

  .icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
</style>
