---
import { Icon } from "astro-icon/components";
import Button from "../Shared/Button.astro";

const { url, title } = Astro.props;
---

<div id="overlayFinish" class="overlayFinish">
  <div class="overlayFinish-content">
    <Icon name="diamond" width={150} height={150} />
    <div class="bigHeadline">Glückwunsch!</div>
    <div class="headline">{title} erfolgreich durchgespielt!</div>
    <div class="totalText">gesamt</div>
    <div class="totalPoints"></div>
    <div class="centerButton">
      <Button id="playVideo" buttonText="Wähle ein neues Genre aus" url={url} />
    </div>
  </div>
</div>

<style>
  .overlayFinish {
    position: fixed;
    z-index: 1000;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: var(--text-color);

    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .overlayFinish-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    align-items: center;
    justify-content: center;

    max-width: 366px;
    margin: var(--spacing-2);
  }

  .bigHeadline {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5cap;
    color: var(--text-color);
    text-align: center;
  }

  .headline {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: var(--primary-color);
    text-align: center;
  }

  .totalText {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: var(--text-color);
  }

  .totalPoints {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: normal;
    color: var(--text-color);
  }
</style>
