---
interface Props {
  band?: string;
  album?: string;
  image?: any;
}

const { band = "", album = "", image } = Astro.props;

import { Picture } from "astro:assets";
---

<div class="triviaItem">
  <Picture class="cover" src={image} width={126} height={126} formats={["avif", "webp"]} alt="" />
  <div class="band">{band}</div>
  <div class="album">{album}</div>
</div>

<style>
  .triviaItem {
    position: relative;
    width: 126px;
    flex-direction: column;
    display: flex;
    color: var(--text-color);

    &:hover,
    &:focus-visible {
      color: var(--primary-color);
      cursor: pointer;

      .cover {
        outline: 2px solid var(--primary-color);
      }

      .band,
      .album {
        color: var(--primary-color);
      }
    }
  }

  .cover {
    width: 126px;
    height: 126px;
  }

  .band {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .album {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
</style>
