---
import { Icon } from "astro-icon/components";
import Button from "../Shared/Button.astro";

const { question } = Astro.props;
---

<div id="overlayStart" class="overlay">
  <div class="overlayStart-content">
    <Icon name="star-golden" width={80} height={80} />
    <div class="headline">Trivia Frage</div>
    <div class="question">{question}</div>
    <div class="centerButton">
      <Button id="gameButton" buttonText="weiter" url="#" />
    </div>
  </div>
</div>

<style lang="scss">
  .overlay {
    position: fixed;
    inset: 0; /* Replaces top, left, width, and height */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .overlayStart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 366px;
    margin: var(--spacing-2);
  }

  .headline {
    margin-top: var(--spacing-3);

    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
    color: var(--text-color);
  }

  .question {
    margin-top: var(--spacing-3);

    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
  }

  .centerButton {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-xl);
  }
</style>
