---
interface Props {
  band?: string;
  album?: string;
  image?: any;
}

const { band = "", album = "", image } = Astro.props;

import { Picture } from "astro:assets";
---

<div class="triviaItem">
  <Picture
    class="cover"
    src={image}
    width={126}
    height={126}
    formats={["avif", "webp"]}
    alt=""
  />
  <div class="band">{band}</div>
  <div class="album">{album}</div>
</div>

<style>
  .triviaItem {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 126px;

    color: var(--text-color);

    &:hover,
    &:focus-visible {
      cursor: pointer;
      color: var(--primary-color);

      .cover {
        outline: 2px solid var(--primary-color);
      }

      .band,
      .album {
        color: var(--primary-color);
      }
    }
  }

  .cover {
    width: 126px;
    height: 126px;
  }

  .band {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
  }

  .album {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
  }
</style>
