---
import { Icon } from "astro-icon/components";

interface Props {
  buttonText?: string;
  url?: string;
  id?: string;
}

const { buttonText = "", url = "", id } = Astro.props;
---

<a id={id} class="button" href={url} class="button">
  {buttonText}
  <Icon name="next" width={24} height={24} />
</a>

<style>
  .button {
    display: inline-flex;
    border-radius: 128px;
    background: var(--accent-color-1);
    height: 24px;
    padding: 12px 24px;
    text-decoration: none;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      background-color: var(--accent-color-2);
      outline: 2px solid var(--text-color);
    }
  }
</style>
