---
import { Icon } from "astro-icon/components";

interface Props {
  buttonText?: string;
  url?: string;
  id?: string;
}

const { buttonText = "", url = "", id } = Astro.props;
---

<a id={id} class="button" href={url}>
  {buttonText}
  <Icon name="next" width={24} height={24} />
</a>
