---
const {
  headline,
  subline,
  whiteText,
  isSmallHeadline = false,
  isWhiteSubline = false,
} = Astro.props;
---

<div class="introText">
  <div class:list={["headline", isSmallHeadline && "isSmallHeadline"]}>
    {headline}
  </div>
  <div class:list={["subline", isWhiteSubline && "whiteText"]}>
    {subline}
    <span class="whiteText">{whiteText}</span>
  </div>
</div>

<style lang="scss">
  .introText {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    align-items: center;

    margin-bottom: var(--spacing-s);
  }

  .headline {
    font:
      900 1.5rem / 1.5 "Source Sans Pro",
      sans-serif;
  }

  .isSmallHeadline {
    font:
      700 14px / 1.5 "Source Sans Pro",
      sans-serif;
  }

  .subline {
    width: 100%;
    max-width: 30rem;

    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--accent-color-4);
    text-align: center;
  }

  .whiteText {
    color: var(--text-color);
  }
</style>
