---
const {
  headline,
  subline,
  whiteText,
  isSmallHeadline = false,
  isWhiteSubline = false,
} = Astro.props;
---

<div class="introText">
  <div class:list={["headline", isSmallHeadline && "isSmallHeadline"]}>
    {headline}
  </div>
  <div class:list={["subline", isWhiteSubline && "whiteText"]}>
    {subline}
    <span class="whiteText">{whiteText}</span>
  </div>
</div>

<style>
  .introText {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    align-items: center;

    margin-bottom: var(--spacing-s);
  }

  .headline {
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.36px;
  }

  .isSmallHeadline {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
  }

  .subline {
    width: 386px;
    max-width: 100%;

    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    color: var(--accent-color-4);
    text-align: center;
  }

  .whiteText {
    color: var(--text-color);
  }
</style>
