---
const { headline, subline, whiteText, isSmallHeadline = false, isWhiteSubline } = Astro.props;
---

<div class="introText">
  <div class:list={["headline", isSmallHeadline && "isSmallHeadline"]}>{headline}</div>
  <div class:list={["subline", isWhiteSubline && "whiteText"]}>
    {subline}
    <span class="whiteText">{whiteText}</span>
  </div>
</div>

<style>
  .introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-15);
    margin-bottom: var(--spacing-spacing-md);
  }

  .headline {
    color: var(--colour-text-primary);
    leading-trim: both;
    text-edge: cap;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0.36px;
  }

  .isSmallHeadline {
    color: var(--colour-text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .subline {
    color: var(--colour-text-secondary);
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .whiteText {
    color: var(--colour-text-primary);
  }
</style>
