---
const { headline, subline } = Astro.props;
---

<div class="introText">
  <div class="headline">
    {headline}
  </div>
  <div class="subline">
    {subline}
  </div>
</div>

<style lang="scss">
  .introText {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
    align-items: center;

    margin-bottom: var(--padding-small);
  }

  .headline {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5;
  }

  .subline {
    width: 100%;
    max-width: 30rem;

    font-size: var(--body-font-size);
    line-height: 1.5;
    color: var(--secondary-color);
    text-align: center;
  }
</style>
