---
import { Icon } from "astro-icon/components";
---

<div class="coins">
  <div class="count">
    <Icon class="icon" name="coin" width={24} height={24} />
    <span class="coinsCount"></span>
  </div>
</div>

<style>
  .coins {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    align-items: center;

    color: var(--text-color);
  }

  .count {
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: 0.25rem;
  }
</style>

<script>
  /**
   * When the page has finished loading, this code is executed.
   * It finds the element with the class "coinsCount" and updates its text content
   * with the current points stored in the "currentPoints" key in localStorage.
   */
  window.addEventListener("load", function () {
    // Find the element with the class "coinsCount"
    const coinsCountElement = document.querySelector(
      ".coinsCount",
    ) as HTMLDivElement;

    // Get the current points from localStorage
    const currentPoints = localStorage.getItem("currentPoints");

    // Update the text content of the element with the current points
    coinsCountElement.textContent = currentPoints;
  });
</script>
