---
import { Icon } from "astro-icon/components";
---

<div class="coins">
  <div class="count">
    <Icon class="icon" name="coin" width={24} height={24} />
    <span class="coinsCount">0</span>
  </div>
</div>

<style lang="scss">
  .coins {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
    align-items: center;

    max-width: 120px;
    padding: var(--padding-small);

    color: var(--text-color);

    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  .count {
    display: flex;
    align-items: center;

    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-color);
  }

  [data-icon] {
    margin-right: 0.5rem;
    color: var(--text-color);
  }
</style>
