---
import { getLangFromUrl, useTranslations } from "@utils/i18n";

interface Props {
  targetId?: string;
}

const { targetId = "main-content" } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<a
  href={"#" + targetId}
  class="absolute z-50 -top-20 left-1/2 -translate-x-1/2 px-6 py-2
         rounded-b-lg text-white bg-[--highlight-color]
         font-bold no-underline shadow-md transition-all duration-300
         focus-visible:top-0 focus-visible:outline focus-visible:outline-[--focus-outline-color]
         focus-visible:outline-offset-2 hover:bg-[--button-hover-color]"
>
  {t("nav.skip.main")}
</a>
