---
import { Icon } from "astro-icon/components";
---

<div class="frame">
  <div class="frameHeader">
    <div class="headline">Profil-Rahmen</div>
    <div class="frameButton changeFrameButton">wechseln</div>
  </div>
  <div class="frames">
    <div class="frameRoot newFrame">
      <div data-frame="rocket" class="frameItem whiteBackground" id="rocket">
        <Icon class="newIcon2" name="new-button" width={48} height={48} />
        <Icon name="rocket" width={48} height={48} />
      </div>
      <div class="frameTitle">PopRock Rocketeer</div>
    </div>
    <div class="frameRoot">
      <div data-frame="brain" class="frameItem whiteBackground" id="brain">
        <Icon name="brain" width={48} height={48} />
      </div>
      <div class="frameTitle">BritPop Brainiac</div>
    </div>
    <div class="frameRoot">
      <div data-frame="microphone" class="frameItem whiteBackground" id="microphone">
        <Icon name="microphone" width={48} height={48} />
      </div>
      <div class="frameTitle">HipHop Master</div>
    </div>
    <div class="frameRoot">
      <div class="frameItem"></div>
    </div>
    <div class="hideFrame frameRoot">
      <div class="frameItem"></div>
    </div>
  </div>
</div>

<style lang="scss">
  .frame {
    display: flex;
    margin: var(--spacing-s) 0;
    padding: var(--spacing-md) var(--spacing-s);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-lg);
    align-self: stretch;
    border-radius: var(--radius-radius-rounded);
    background: var(--background-color);
  }

  .frames {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-s);
    flex-wrap: wrap;
  }

  .frameRoot {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-s);
    width: 80px;
  }

  .frameItem {
    width: 60px;
    height: 60px;
    border-radius: var(--radius-radius-rounded);
    border: 1px dotted var(--colour-disabled);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .frameButton {
    border-radius: var(--radius-circle);
    background: var(--primary-color);
    padding: var(--spacing-xxs) var(--spacing-15);
    color: var(--background-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.28px;
    cursor: pointer;
  }

  .frameHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .frameTitle {
    color: var(--colour-text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .frameSelected {
    border: var(--pos-drei, 3px) solid var(--colour-brand-secondary, #ffe500) !important;
    width: 55px;
    height: 55px;

    + .frameTitle {
      color: var(--colour-brand-secondary, #ffe500) !important;
    }
  }

  .goldBackground {
    background: var(--primary-color);
    border: var(--pos-drei, 3px) solid var(--colour-brand-secondary, #ffe500);
    width: 54px;
    height: 54px;

    [data-icon] {
      color: var(--text-color);
    }

    + .frameTitle {
      color: var(--text-color);
    }
  }

  .whiteBackground {
    background: var(--text-color);
    border: 0;

    [data-icon] {
      color: var(--background-color);
    }
  }

  .headline {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .newIcon2 {
    position: absolute;
    top: -1rem;
    left: -1rem;
  }

  .hideFrame {
    display: block;
  }

  .newFrame {
    display: none;
  }
</style>
