---
import { Icon } from "astro-icon/components";
---

<div class="goldenlps">
  <div class="goldenlpsHeader">
    <div class="headline">Meine gewonnene Schallplatten</div>
  </div>
  <div class="lpsRoot">
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <div class="lpGroup">
        <Icon name="golden-lp" width={80} height={80} />
        <Icon class="absIcon" name="brain" width={48} height={48} />
      </div>
      <div class="lpText">Brit Pop</div>
      <div class="lpData">90er Jahre</div>
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div id="PopRock" class="goldenlpsItem">
      <div class="silverPopRock">
        <Icon name="silver-lp" width={80} height={80} />
      </div>
      <div class="goldPopRock">
        <div class="lpGroup">
          <Icon class="newIcon" name="new-button" width={48} height={48} />
          <Icon name="golden-lp" width={80} height={80} />
          <Icon class="absIcon" name="rocket" width={48} height={48} />
        </div>
        <div class="lpText">PopRock</div>
        <div class="lpData">70er - heute</div>
      </div>
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <Icon name="silver-lp" width={80} height={80} />
    </div>
    <div class="goldenlpsItem">
      <div class="lpGroup">
        <Icon name="golden-lp" width={80} height={80} />
        <Icon class="absIcon" name="microphone" width={48} height={48} />
      </div>
      <div class="lpText">HipHop</div>
      <div class="lpData">90er Jahre</div>
    </div>
  </div>
</div>

<style lang="scss">
  .headline {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary-color);
  }

  .goldenlps {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    align-items: flex-start;
    align-self: stretch;

    margin: var(--spacing-s) 0;
    padding: var(--spacing-md) var(--spacing-s);

    background: var(--background-color);
    border-radius: var(--radius-radius-rounded);
  }

  .lpsRoot {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-s);
    align-items: flex-start;
  }

  .goldenlpsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    width: 80px;
    height: 132px;
  }

  .lpGroup {
    position: relative;
    display: flex;
    margin-bottom: var(--spacing-xs);
  }

  .absIcon {
    position: absolute;
    right: -0.5rem;
    bottom: -0.5rem;
  }

  .lpText {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    color: var(--text-color);
  }

  .lpData {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    color: var(--colour-text-secondary);
  }

  .newIcon {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
  }

  .silverPopRock {
    display: block;
  }

  .goldPopRock {
    display: none;
  }
</style>
