---
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import { db, User, eq } from "astro:db";

/**
 * Get the user object from the Astro context
 */
const user = Astro.locals.user;

/**
 * Get the total user points from the database
 */
const currentUser = await db
  .select()
  .from(User)
  .where(eq(User.id, user?.id ?? ""));

/**
 * Get the total user points from the user object
 * @type {number}
 */
const totalUserPoints = currentUser[0].total_user_points;
---

<div class="headerBG">
  <div class="headerContent">
    <div class="avatar">
      <Picture
        class="avatarImage"
        src={user?.avatarUrl || "/user-profiles/mika.png"}
        width={128}
        height={128}
        formats={["avif", "webp"]}
        alt="User Avatar"
        loading="eager"
      />
    </div>
  </div>
  <div class="nameContent">
    <div class="name">
      Hallo <span class="yellowName">{user?.username ?? "Mika"}</span>
    </div>
    <div class="points">
      <Icon class="coin" name="coin" width={24} height={24} />
      <span class="pointsValue">{totalUserPoints}</span>
    </div>
  </div>
</div>

<style lang="scss">
  .headerBG {
    position: relative;

    margin-bottom: var(--padding-medium);
    padding: var(--padding-small);

    background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
      url("/userbg/music-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  .headerContent {
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .avatar {
    position: relative;

    overflow: hidden;

    width: 130px;
    height: 130px;
    margin-bottom: var(--padding-small);

    border: 4px solid var(--secondary-color);
    border-radius: 100%;
    box-shadow: var(--box-shadow);
  }

  .avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }

  .avatarFrame {
    position: absolute;
    top: -16px;
    left: -16px;
    border: none;
  }

  .nameContent {
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
    align-items: center;
    justify-content: center;
  }

  .name {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-self: center;

    font-size: var(--header-font-size);
    font-weight: 600;
    line-height: 1.5;
    color: var(--secondary-color);
  }

  .yellowName {
    color: var(--highlight-color);
    text-align: center;
  }

  .points {
    display: flex;
    align-items: center;

    font-size: var(--body-font-size);
    font-weight: 700;
    line-height: 120%;
    color: var(--secondary-color);
  }

  .points .coin {
    margin-right: var(--padding-small);
  }
</style>
