---
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import { db, User, eq } from "astro:db";

/**
 * Get the user object from the Astro context
 */
const user = Astro.locals.user;

/**
 * Get the total user points from the database
 */
const currentUser = await db
  .select()
  .from(User)
  .where(eq(User.id, user?.id ?? ""));

/**
 * Get the total user points from the user object
 * @type {number}
 */
const totalUserPoints = currentUser[0].total_user_points;
---

<div class="headerBG">
  <div class="headerContent">
    <div class="avatar">
      <Picture
        class="avatarImage"
        src={user?.avatarUrl || "/user-profiles/mika.png"}
        width={128}
        height={128}
        formats={["avif", "webp"]}
        alt=""
        loading="eager"
      />
      <Icon class="avatarFrame" name="rocket-frame" width={160} height={160} />
    </div>
  </div>
  <div class="nameContent">
    <div class="name">
      Hallo <span class="yellowName">{user?.username ?? "Mika"}</span>! <Icon
        class="editIcon"
        name="edit"
        width={24}
        height={24}
      />
    </div>
    <div class="points">
      <Icon class="coin" name="coin" width={24} height={24} />
      <span class="pointsValue">{totalUserPoints}</span>
    </div>
  </div>
</div>

<style lang="scss">
  .headerBG {
    position: relative;

    padding: var(--spacing-s);

    background-image: url("/userbg/bg-mic.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .headerContent {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .avatar {
    position: relative;

    width: 130px;
    height: 130px;
    margin-bottom: 1rem;

    border-radius: 100%;
  }

  .avatarImage {
    overflow: hidden;
    object-fit: cover;
    border-radius: 100%;
  }

  .avatarFrame {
    position: absolute;
    top: -16px;
    left: -16px;
    border: 0;
  }

  .nameContent {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-15);
    align-items: center;
    justify-content: center;
  }

  .name {
    display: inline-flex;
    align-items: center;

    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    line-height: 120%;
    color: var(--text-color);
    letter-spacing: 0.36px;
  }

  .yellowName {
    padding-left: 0.25rem;
    color: var(--primary-color);
  }

  .editIcon {
    cursor: pointer;
    padding-left: 0.5rem;
  }

  .points {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
  }

  .points .coin {
    margin-right: var(--spacing-xs);
  }
</style>
