---
import Layout from "../../layouts/Layout.astro";
import Points from "../../components/Result/Points.astro";
import IntroText from "../../components/Shared/IntroText.astro";
---

<Layout title="Result Runde 3">
  <div slot="left-headercol"></div>

  <IntroText
    headline="Runde 3 / 3 – Ergebnisse"
    subline="Sortieren Sie nach der"
    whiteText="Gesamtlänge!"
    isSmallHeadline={true}
    isWhiteSubline={true}
  />

  <div class="results" id="results-container"></div>

  <Points />
</Layout>

<style>
  .results {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-1) var(--spacing-spacing-xl) var(--spacing-15) var(--spacing-spacing-xl);
    align-items: center;
    justify-content: center;
    gap: var(--spacing-spacing-xl);
  }
</style>

<script>
  import { populateResults } from "../../utils/result/populateResults";
  import { setupFinishButton } from "../../utils/result/setupFinishButton";
  import { updateCurrentPoints } from "../../utils/share/updateCurrentPoints";

  document.addEventListener("DOMContentLoaded", () => {
    updateCurrentPoints("PointsRound3");
    populateResults("ResultsRound3");
    setupFinishButton("/trivia/trivia-three");
  });
</script>
