---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Shared/Button.astro";
---

<Layout title="Video von Nils">
  <div slot="left-headercol"></div>

  <video autoplay controls>
    <source src="/video/9x16-coverlover-fleetwood-mac_HGzQD4M4.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="centerButton">
    <Button buttonText="Neue Kategorie auswählen" url="/gamehome2" />
  </div>
</Layout>

<style>
  video {
    width: 100%;
  }

  .centerButton {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-spacing-md);
  }
</style>
