---
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "@utils/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="shareContainer">
  <h3 class="shareTitle">{t("share.title")}</h3>

  <div
    class="shareButtons"
    role="group"
    aria-label={t("share.buttons.group.label")}
  >
    <button
      class="shareButton facebook"
      data-share="facebook"
      aria-label={t("share.facebook")}
    >
      <Icon name="facebook" width={24} height={24} />
      Facebook
    </button>

    <button
      class="shareButton whatsapp"
      data-share="whatsapp"
      aria-label={t("share.whatsapp")}
    >
      <Icon name="whatsapp" width={24} height={24} />
      WhatsApp
    </button>
  </div>
</div>

<style lang="scss">
  .shareContainer {
    margin-top: var(--padding-medium);
    text-align: center;
  }

  .shareButtons {
    display: flex;
    gap: var(--padding-small);
    justify-content: center;
    margin-top: var(--padding-small);
  }

  .shareButton {
    cursor: pointer;

    display: flex;
    gap: var(--padding-small);
    align-items: center;

    padding: var(--padding-small) var(--padding-medium);

    color: var(--button-text-color);

    border: none;
    border-radius: var(--border-radius);

    &.twitter {
      background-color: #1da1f2;
    }

    &.facebook {
      background-color: #4267b2;
    }

    &.whatsapp {
      background-color: #25d366;
    }

    &:hover {
      transform: translateY(-2px);
      opacity: 0.9;
    }
  }
</style>
