---
import { Icon } from "astro-icon/components";
import Button from "../Shared/Button.astro";
---

<div id="timupsOverlay" class="timupsOverlay">
  <div class="timupsOverlay-content">
    <Icon name="clock" width={200} height={200} />
    <div class="headline">00:00</div>
    <div class="subline">Zeit ist abgelaufen!</div>
    <div class="centerButton">
      <Button id="finishRoundButton" buttonText="weiter" url="#" />
    </div>
  </div>
</div>

<style>
  .timupsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
  }

  .timupsOverlay-content {
    display: flex;
    width: 366px;
    flex-direction: column;
    align-items: center;
  }

  .headline {
    color: var(--colour-text-primary);
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
  }

  .subline {
    color: var(--colour-text-secondary);
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    margin-top: var(--spacing-spacing-md);
  }

  .centerButton {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-spacing-xl);
  }
</style>
