---
import { Icon } from "astro-icon/components";
import Button from "../Shared/Button.astro";

const { url = "#" } = Astro.props;
---

<div id="timupsOverlay" class="timupsOverlay">
  <div class="timupsOverlay-content">
    <Icon name="clock" width={200} height={200} />
    <div class="headline">00:00</div>
    <div class="subline">Zeit ist abgelaufen!</div>
    <div class="centerButton">
      <Button id="finishRoundButton" buttonText="weiter" url={url} />
    </div>
  </div>
</div>

<style>
  .timupsOverlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: var(--text-color);

    visibility: hidden;
    background-color: rgb(0 0 0 / 90%);
  }

  .timupsOverlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 366px;
  }

  .headline {
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    color: var(--text-color);
    letter-spacing: 2px;
  }

  .subline {
    margin-top: var(--spacing-md);
    font-size: 16px;
    color: var(--colour-text-secondary);
  }

  .centerButton {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-xl);
  }
</style>
