---

---

<div class="joker-container">
  <button id="joker-button" class="button">50:50 Joker</button>
  <p id="joker-count" class="joker-count">Joker: 0 verbleibend</p>
</div>

<style lang="scss">
  .joker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--padding-small) 0;
  }

  .joker-count {
    margin-top: var(--padding-small);
    font-size: 1.2rem;
    color: var(--highlight-color);
  }
</style>
