---
import Layout from "@layouts/Layout.astro";
import { saveGoldenLP } from "@utils/db/saveGoldenLP";
import { Debug } from "astro:components";

const user = Astro.locals.user;

/**
 * If the user is not logged in, redirect them to the login page.
 */
if (!user) {
  /**
   * Redirect the user to the login page.
   */
  return Astro.redirect("/");
}

saveGoldenLP(user?.id, "Heavy Metal", "easy");
---

<Layout title="DB Test">
  <h1>DB Test</h1>

  <div class="goldenlps" data-user-id={user?.id}></div>

  <Debug data={user} />
</Layout>

<script>
  const userID = document
    .querySelector("[data-user-id]")
    ?.getAttribute("data-user-id");

  const response = await fetch(`/api/getUserGoldenLPs`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ userId: userID }),
  });

  const { goldenLPs } = await response.json();

  const goldenLPsList = document.querySelector(".goldenlps") as HTMLDivElement;
  goldenLPsList.innerHTML = "";

  Object.keys(goldenLPs).forEach((genre) => {
    if (goldenLPs[genre].won) {
      const listItem = document.createElement("li");
      listItem.textContent = `${genre} - Goldene Schallplatte gewonnen am ${new Date(
        goldenLPs[genre].date,
      ).toLocaleDateString()}`;
      goldenLPsList.appendChild(listItem);
    }
  });
</script>
