---
import { Icon } from "astro-icon/components";

import PlaylistItem from "../components/PlaylistItem.astro";
import Layout from "../layouts/Layout.astro";
import Help from "../components/HeaderItems/Help.astro";
---

<Layout title="Spiel Kategorien">
  <Help slot="left-headercol" />
  <div class="introText">
    <div class="headline">Willkommen <span class="name">Mika</span>!</div>
    <div class="subline">Wählen Sie eine <span class="whiteText">Playlist</span> zum spielen!</div>
  </div>

  <div class="choosePlaylist">
    <PlaylistItem headline="Heavy Metal" years="2010 bis heute" image="/category/heavymetal.png" />
    <a href="/category"><PlaylistItem headline="PopRock" years="70er bis heute" image="/category/poprock.png" /></a>
    <PlaylistItem headline="Party On!" years="2010 bis 2024" image="/category/partyon.png" />
    <PlaylistItem headline="Summer Hits" years="2023/24" image="/category/summerhits.png" />
    <PlaylistItem headline="Top Charts" years="Alle Jahrzehnte" image="/category/topcharts.png" />
    <PlaylistItem headline="DeutschRap" years="2020 bis heute" image="/category/deutschrap.png" />
  </div>

  <div class="hint">
    <Icon class="icon" name="spotify" width={24} height={24} /> Spotify Account einbinden um Freunde zu challengen
  </div>
</Layout>

<style>
  .introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-15);
    margin-bottom: var(--spacing-spacing-md);
  }

  .headline {
    color: var(--colour-text-primary);
    leading-trim: both;
    text-edge: cap;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.36px;
  }

  .name {
    color: var(--colour-text-active);
  }

  .subline {
    color: var(--colour-text-secondary, #aeaeae);
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .whiteText {
    color: var(--colour-text-primary);
  }

  .choosePlaylist {
    display: flex;
    padding: var(--spacing-spacing-s) var(--spacing-spacing-s) var(--spacing-spacing-md) var(--spacing-spacing-s);
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-3);
    border-radius: var(--radius-radius-rounded);
    background: var(--colour-BG-secondary);
  }

  .hint {
    display: flex;
    align-items: top;
    margin-top: var(--spacing-spacing-md);
    color: var(--colour-text-secondary);
    border-top: 2px solid var(--colour-border-disabled);
    border-bottom: 2px solid var(--colour-border-disabled);
    padding: var(--spacing-spacing-xxs) 0;
  }

  .icon {
    margin-right: var(--spacing-spacing-xxs);
  }
</style>

<script>
  import { initLocalStorage } from "../utils/share/initLocalStorage";

  window.addEventListener("load", function () {
    initLocalStorage("userName", "Mika");

    // Get the user name element
    const userName = document.querySelector(".name") as HTMLElement;

    // Get the saved user name from local storage and update the user name element
    const savedUserName = localStorage.getItem("userName");
    userName.textContent = savedUserName;
  });
</script>
