---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
---

<Layout title="Wilkommen zum Cover Shuffle" showHeader={false}>
  <div class="container">
    <Picture
      class="logo"
      src="/logo.png"
      width={250}
      height={275}
      formats={["avif", "webp"]}
      alt=""
      loading="eager"
    />

    <div class="loginHeadline">Anmelden mit</div>
    <div class="buttonGroup">
      <a class="loginButton" href="/login/spotify"><Icon class="loginIcon" name="spotify-alt" width={35} height={35} /> Spotify</a>
      <a class="loginButton" href="/login/github"><Icon class="loginIcon" name="github" width={35} height={35} /> GitHub</a>
      <a class="loginButton" href="/login/google"><Icon class="loginIcon" name="google" width={35} height={35} /> Google</a>
    </div>
  </div>
</Layout>

<style>
  .logo {
    width: auto;
    display: block;
    margin: 0 auto;
  }

  .loginHeadline {
    margin: 2rem 0;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--colour-text-gold);
  }

  .buttonGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .loginButton {
    border-radius: 128px;
    background: #ffe500;
    height: 40px;
    padding: 12px 24px;
    text-decoration: none;
    color: #1a0e38;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  .loginIcon {
    display: inline-block;
    margin-right: 0.5rem;
  }
</style>
