---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
---

<Layout title="Wilkommen zum Cover Shuffle" showHeader={false}>
  <div class="container">
    <Picture
      class="cover"
      src="/imagesites/cover-shuffle.jpg"
      width={480}
      height={815}
      formats={["avif", "webp"]}
      alt=""
    />
    <div class="buttonGroup">
      <a class="button" href="/login/github">Sign in with GitHub</a>

      <a class="button" href="/gamehome">Jetzt loslegen</a>
    </div>
  </div>
</Layout>

<style>
  .container {
    position: relative;
  }

  .cover {
    width: 100%;
    height: auto;
  }

  .buttonGroup {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .button {
    margin: 0.5rem 0;
    border-radius: 128px;
    background: #ffe500;
    height: 40px;
    width: auto;
    padding: 12px 24px;
    text-decoration: none;
    color: #1a0e38;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
