---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import InstaStory from "../assets/instastory.png";
---

<Layout title="Instastory" showHeader={false}>
  <div class="container">
    <Picture class="cover" src={InstaStory} formats={["avif", "webp"]} alt="" />
    <a class="button" href="/login"><span class="rainbowText">COVERSHUFFLE</span></a>
  </div>
</Layout>

<style>
  .container {
    position: relative;
  }

  .cover {
    width: 100%;
    height: auto;
  }

  .introText {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    right: 50%;
    text-align: center;
    width: 75%;
  }

  .button {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    height: 40px;
    width: auto;
    padding: 12px 24px;
    text-decoration: none;
    color: #1a0e38;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rainbowText {
    background: var(--Gradients-Rainbow, linear-gradient(90deg, #F1000F 0%, #FD8D32 18.97%, #F6CA5B 34.47%, #75C050 51.14%, #4498EB 65.72%, #3B47D7 82.39%, #921CBE 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
