---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
---

<Layout title="Wilkommen zu Melody Mind" showHeader={false}>
  <div class="container">
    <Picture
      class="logo"
      src="/melody-mind.jpg"
      width={480}
      height={274}
      formats={["avif", "webp"]}
      alt=""
      loading="eager"
    />

    <div class="headline">
      Willkommen zu MelodyMind – dem ultimativen Musik-Quiz!
    </div>
    <div class="text">
      Teste dein Wissen über deine Lieblingssongs, -alben und -künstler aus
      verschiedenen verschiedenen Musikrichtungen. Stelle dich spannende Fragen
      zu Künstlern, Alben und Musikfakten. Sammle Punkte, gewinne goldene
      Schallplatten und kämpfe dich in die Top 10 der Bestenliste.
    </div>

    <div class="text">
      Starte jetzt ein neues Spiel, wähle dein Genre und zeige, dass du der
      wahre wahre Meister der Musik bist!
    </div>

    <div class="headline">Anmelden mit</div>
    <div class="buttonGroup">
      <a class="button" href="/login/spotify"
        ><Icon class="loginIcon" name="spotify" width={35} height={35} /> Spotify</a
      >
      <a class="button" href="/login/github"
        ><Icon class="loginIcon" name="github" width={35} height={35} /> GitHub</a
      >
      <a class="button" href="/login/google"
        ><Icon class="loginIcon" name="google" width={35} height={35} /> Google</a
      >
      <a class="button" href="/login/yahoo"
        ><Icon class="loginIcon" name="yahoo" width={35} height={35} /> Yahoo</a
      >
    </div>
  </div>
</Layout>

<style>
  .logo {
    display: block;
    aspect-ratio: 480 / 274;
    width: 100%;
    height: auto;
    margin: var(--padding-large) auto 0;
  }

  .text {
    margin: var(--padding-large) var(--padding-medium);
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: var(--text-color);
    text-align: center;
    letter-spacing: 0.5px;
  }

  .headline {
    margin: var(--padding-large) 0;
    font-size: var(--header-font-size);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: var(--highlight-color);
    text-align: center;
    letter-spacing: 0.5px;
  }

  .buttonGroup {
    display: flex;
    flex-flow: row wrap;
    gap: var(--padding-medium);
    align-items: center;
    justify-content: center;
    margin-bottom: var(--padding-large);
  }

  .loginIcon {
    display: inline-block;
    margin-right: var(--padding-small);
  }

  @media (max-width: 1024px) {
    .logo {
      width: 90%;
      margin: var(--padding-medium) auto;
    }

    .headline {
      font-size: 1.4rem;
      margin: var(--padding-medium) 0;
    }

    .text {
      font-size: 1.1rem;
      margin: var(--padding-medium) var(--padding-small);
    }

    .buttonGroup {
      gap: var(--padding-small);
    }
  }

  @media (max-width: 768px) {
    .logo {
      width: 85%;
      margin: var(--padding-small) auto;
    }

    .headline {
      font-size: 1.3rem;
      margin: var(--padding-small) 0;
    }

    .text {
      font-size: 1rem;
      margin: var(--padding-small) var(--padding-small);
    }

    .buttonGroup {
      flex-direction: column;
      gap: var(--padding-small);
    }

    .loginIcon {
      width: 30px;
      height: 30px;
      margin-right: var(--padding-small);
    }

    .button {
      font-size: var(--button-font-size);
      padding: var(--padding-small) var(--padding-medium);
    }
  }
</style>
