---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
---

<Layout title="Wilkommen zum Cover Shuffle" showHeader={false}>
  <div class="container">
    <Picture
      class="logo"
      src="/cover-rush.jpg"
      width={480}
      height={274}
      formats={["avif", "webp"]}
      alt=""
      loading="eager"
    />

    <div class="text">
      Teste dein Wissen über deine Lieblingssongs, Alben und Künstler in
      verschiedenen Musikgenres. Beweise dich in jeder Runde mit kniffligen
      Fragen und erhalte spannende Funfacts zu den Songs und Künstlern. Ziel ist
      es, möglichst viele Punkte zu sammeln und in die Top 10 zu gelangen.
    </div>

    <div class="text">
      Schaffst du es, alle Fragen eines Genres richtig zu beantworten, gewinnst
      du eine goldene Schallplatte – eine besondere Auszeichnung für die besten
      Musikkenner! Wähle dein Genre und starte das Spiel. Viel Spaß und Erfolg!
    </div>

    <div class="loginHeadline">Anmelden mit</div>
    <div class="buttonGroup">
      <a class="loginButton" href="/login/spotify"
        ><Icon class="loginIcon" name="spotify" width={55} height={55} /> Spotify</a
      >
      <a class="loginButton" href="/login/github"
        ><Icon class="loginIcon" name="github" width={35} height={35} /> GitHub</a
      >
      <a class="loginButton" href="/login/google"
        ><Icon class="loginIcon" name="google" width={55} height={55} /> Google</a
      >
    </div>
  </div>
</Layout>

<style>
  .logo {
    display: block;

    aspect-ratio: 480 / 274;
    width: 100%;
    height: auto;
    margin: 2rem auto 0;
  }

  .text {
    margin: 2rem 1rem;

    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: var(--text-color);
    text-align: center;
    letter-spacing: 0.5px;
  }

  .loginHeadline {
    margin: 2rem 0;

    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: var(--primary-color);
    text-align: center;
    letter-spacing: 0.5px;
  }

  .buttonGroup {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  .loginButton {
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 40px;
    padding: 12px 24px;

    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;

    background: var(--accent-color-1);
    border-radius: 128px;

    &:hover,
    &:focus-visible {
      background-color: var(--accent-color-2);
      outline: 2px solid var(--accent-color-2);
    }
  }

  .loginIcon {
    display: inline-block;
    margin-right: 0.5rem;
  }
</style>
