---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
---

<Layout title="Wilkommen zu Melody Mind" showHeader={false}>
  <div class="container">
    <Picture
      class="logo"
      src="/melody-mind.jpg"
      width={480}
      height={274}
      formats={["avif", "webp"]}
      alt="Melody Mind Logo"
      loading="eager"
    />

    <div class="headline">
      Willkommen zu MelodyMind – dem ultimativen Musik-Quiz!
    </div>

    <div class="text">
      Teste dein Wissen über deine Lieblingssongs, -alben und -künstler aus
      verschiedenen Musikrichtungen. Stelle dich spannenden Fragen zu Künstlern,
      Alben und Musikfakten. Sammle Punkte, gewinne goldene Schallplatten und
      kämpfe dich in die Top 10 der Bestenliste.
    </div>

    <div class="text">
      Starte jetzt ein neues Spiel, wähle dein Genre und zeige, dass du der
      wahre Meister der Musik bist!
    </div>

    <div class="headline">Anmelden mit</div>

    <div class="buttonGroup">
      <a class="button" href="/login/spotify">
        <Icon class="loginIcon" name="spotify" width={35} height={35} />
        Spotify
      </a>
      <a class="button" href="/login/github">
        <Icon class="loginIcon" name="github" width={35} height={35} />
        GitHub
      </a>
      <a class="button" href="/login/google">
        <Icon class="loginIcon" name="google" width={35} height={35} />
        Google
      </a>
      <a class="button" href="/login/yahoo">
        <Icon class="loginIcon" name="yahoo" width={35} height={35} />
        Yahoo
      </a>
    </div>
  </div>
</Layout>

<style lang="scss">
  .container {
    text-align: center;
    padding: var(--padding-large);
  }

  .logo {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: var(--padding-large) auto;
    transition: transform 0.3s ease-in-out;
  }

  .headline {
    font-size: 1.75rem;
    font-weight: 700;
    margin: var(--padding-medium) 0;
    color: var(--highlight-color);
    letter-spacing: 1px;
  }

  .text {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--text-color);
    margin: var(--padding-medium) 0;
    line-height: 1.6;
    letter-spacing: 0.5px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .buttonGroup {
    display: flex;
    justify-content: center;
    gap: var(--padding-medium);
    flex-wrap: wrap;
    margin-top: var(--padding-medium);
  }

  .button {
    display: inline-flex;
    align-items: center;
    padding: var(--padding-small) var(--padding-large);
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--highlight-color);
    border-radius: var(--border-radius);
    text-decoration: none;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;
    box-shadow: var(--box-shadow);
  }

  .button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
  }

  .loginIcon {
    margin-right: var(--padding-small);
  }

  @media (max-width: 1024px) {
    .headline {
      font-size: 1.5rem;
    }

    .text {
      font-size: 1rem;
      margin: var(--padding-medium) var(--padding-small);
    }

    .buttonGroup {
      gap: var(--padding-small);
    }
  }

  @media (max-width: 768px) {
    .headline {
      font-size: 1.25rem;
    }

    .text {
      font-size: 0.95rem;
    }

    .buttonGroup {
      flex-direction: column;
      gap: var(--padding-small);
    }

    .button {
      padding: var(--padding-small) var(--padding-large);
    }

    .loginIcon {
      width: 30px;
      height: 30px;
    }
  }
</style>
