---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
---

<Layout title="Wilkommen zum Cover Shuffle" showHeader={false}>
  <div class="container">
    <Picture
      class="logo"
      src="/cover-rush.jpg"
      width={480}
      height={274}
      formats={["avif", "webp"]}
      alt=""
      loading="eager"
    />

    <div class="text">
        Cover Rush ist ein rasantes Spiel, bei dem du deine Schnelligkeit und dein Wissen unter Beweis stellen musst! Sortiere und ordne CD-Cover blitzschnell, um Punkte zu sammeln und Trophäen zu gewinnen. Tritt gegen die Zeit an und zeige, wer der wahre Cover-Meister ist. Bist du bereit für den ultimativen Cover-Rausch?
    </div>

    <div class="loginHeadline">Anmelden mit</div>
    <div class="buttonGroup">
      <a class="loginButton" href="/login/spotify"><Icon class="loginIcon" name="spotify" width={55} height={55} /> Spotify</a>
      <a class="loginButton" href=""><Icon class="loginIcon" name="apple" width={35} height={35} /> Apple</a>
      <a class="loginButton" href="/login/github"><Icon class="loginIcon" name="github" width={35} height={35} /> GitHub</a>
      <a class="loginButton" href="/login/google"><Icon class="loginIcon" name="google" width={55} height={55} /> Google</a>
    </div>
  </div>
</Layout>

<style>
  .logo {
    width: 100%;
    height: auto;
    aspect-ratio: 480 / 274;
    display: block;
    margin: 2rem auto 0;
  }

  .text {
    margin: 2rem 1rem;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--text-color);
  }

  .loginHeadline {
    margin: 2rem 0;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--primary-color);
  }

  .buttonGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .loginButton {
    border-radius: 128px;
    background: var(--accent-color-1);
    height: 40px;
    padding: 12px 24px;
    text-decoration: none;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 120px;
    cursor: pointer;

    &:hover,
    &:focus-visible {
        background-color: var(--accent-color-2);
        outline: 2px solid var(--accent-color-2);
    }
  }

  .loginIcon {
    display: inline-block;
    margin-right: 0.5rem;
  }
</style>
