---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import CoverShuffle from "../assets/cover-shuffle.png";
---

<Layout title="Wilkommen zum Cover Shuffle" showHeader={false}>
  <div class="container">
    <Picture class="cover" src={CoverShuffle} formats={["avif", "webp"]} alt="" />
    <a class="button" href="/gamehome">Jetzt loslegen</a>
  </div>
</Layout>

<style>
  .container {
    position: relative;
  }

  .cover {
    width: 100%;
    height: auto;
  }

  .button {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 128px;
    background: #ffe500;
    height: 40px;
    width: auto;
    padding: 12px 24px;
    text-decoration: none;
    color: #1a0e38;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
