---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Spielregeln">
  <div class="rules-container">
    <h1>Spielregeln – MelodyMind</h1>

    <h2>Überblick</h2>
    <p>
      Willkommen zu <strong class="highlight">MelodyMind</strong>, dem
      ultimativen Musik-Quiz! In diesem Spiel testest du dein Wissen in
      verschiedenen Musikgenres und kannst wertvolle Punkte und besondere
      Belohnungen sammeln. Dein Ziel ist es, möglichst viele Fragen richtig zu
      beantworten, Punkte zu sammeln und in den Top 10 der Rangliste zu landen.
      Schaffst du es, alle Fragen eines Genres richtig zu beantworten, gewinnst
      du eine <span class="golden-lp">goldene Schallplatte</span>!
    </p>

    <h2>Spielablauf</h2>
    <p>
      Das Spiel besteht aus mehreren Runden, in denen du Fragen zu Songs, Alben,
      Künstlern oder Musikgenres beantworten musst.
    </p>
    <ul>
      <li>Jedes Spiel umfasst <strong>5 Runden</strong>.</li>
      <li>
        Für jede Runde erhältst du eine Frage zu einem zufällig ausgewählten
        Album oder Song.
      </li>
      <li>
        Die Fragen können in verschiedenen Formaten gestellt werden:
        <ul>
          <li>
            <strong>Multiple-Choice:</strong> Wähle die richtige Antwort aus verschiedenen
            Optionen.
          </li>
          <li>
            <strong>True/False:</strong> Entscheide, ob eine Aussage wahr oder falsch
            ist.
          </li>
          <li>
            <strong>Bilderfragen:</strong> Ordne das richtige Albumcover zu.
          </li>
          <li>
            <strong>Audiofragen:</strong> Erkenne einen Song anhand eines kurzen
            Audioschnipsels.
          </li>
        </ul>
      </li>
    </ul>

    <h2>Punktesystem</h2>
    <ul>
      <li>
        Für jede <strong>richtige Antwort</strong> erhältst du <strong
          >100 Punkte</strong
        >.
      </li>
      <li>Am Ende jeder Runde wird deine Punktzahl angezeigt.</li>
      <li>
        Beantworte alle 5 Fragen in einem Genre richtig und gewinne eine <span
          class="golden-lp">goldene Schallplatte</span
        >.
      </li>
    </ul>

    <h2>Goldene Schallplatten</h2>
    <p>
      Schaffst du es, alle Fragen eines Genres korrekt zu beantworten, erhältst
      du als Belohnung eine <span class="golden-lp">goldene Schallplatte</span>.
      Diese besondere Auszeichnung wird in deinem Profil gespeichert und zeigt,
      dass du das Genre vollständig gemeistert hast.
    </p>
    <ul>
      <li>
        Jede <span class="golden-lp">goldene Schallplatte</span> wird <strong
          >pro Genre</strong
        > vergeben.
      </li>
      <li>
        Sobald du eine goldene Schallplatte für ein Genre gewonnen hast, kannst
        du keine weitere für dasselbe Genre gewinnen.
      </li>
      <li>
        Deine gesammelten goldenen Schallplatten werden in deinem Profil
        angezeigt.
      </li>
    </ul>

    <h2>Ranglisten</h2>
    <p>
      Nachdem du ein Spiel beendet hast, werden deine Punkte in die Rangliste
      aufgenommen. Die besten Spieler eines jeden Genres werden in den <strong
        >Top 10</strong
      > angezeigt.
    </p>
    <ul>
      <li>
        Schaffst du es in die <strong>Top 10</strong>, wird dein Name in der
        Rangliste angezeigt.
      </li>
      <li>
        Deine Punktzahl und dein Fortschritt werden für jedes Genre separat
        festgehalten.
      </li>
    </ul>

    <h2>Tipps & Tricks</h2>
    <ul>
      <li>
        Lerne die Musikstile der verschiedenen Genres, um deine Chancen zu
        verbessern.
      </li>
      <li>
        Höre dir bekannte Alben und Songs an, um bei Audiofragen sicher zu sein.
      </li>
      <li>
        Nutze dein musikalisches Wissen, um in den Ranglisten nach oben zu
        klettern und goldene Schallplatten zu gewinnen.
      </li>
    </ul>
  </div>
</Layout>

<style lang="scss">
  h1 {
    margin-bottom: var(--padding-large);
    font-size: var(--header-font-size);
    color: var(--text-color);
  }

  h2 {
    margin-bottom: var(--padding-medium);
    font-size: 1.5em;
    color: var(--text-color);
  }

  p {
    margin-bottom: var(--padding-medium);
    font-size: var(--body-font-size);
  }

  ul {
    margin-bottom: var(--padding-medium);
    padding-left: var(--padding-large);
    list-style-type: disc;
  }

  .rules-container {
    max-width: 480px;
    margin: 1rem auto;
    padding: var(--padding-large);

    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  .golden-lp,
  .highlight {
    font-weight: 600;
  }
</style>
