---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Spielregeln">
  <div class="rules-container">
    <h1>Spielregeln – MelodyMind</h1>

    <h2>Überblick</h2>
    <p>
      Willkommen bei <strong class="highlight">MelodyMind</strong>! Dein Ziel
      ist es, Fragen zu Liedern, Interpreten und Alben aus verschiedenen
      Musikrichtungen zu beantworten. Wähle ein Genre aus und stelle dein Wissen
      auf die Probe. Je mehr Fragen du richtig beantwortest, desto mehr Punkte
      bekommst du.
    </p>

    <h2>Schwierigkeitsgrade</h2>
    <p>
      Es gibt drei Schwierigkeitsstufen, aus denen du eine auswählen kannst:
    </p>

    <ul>
      <li>
        <strong>Leicht</strong>: 10 Fragen pro Runde. Perfekt, um sein Wissen
        aufzufrischen und Spaß zu haben.
      </li>
      <li>
        <strong>Mittel</strong>: 15 Fragen pro Runde. Eine Herausforderung für
        fortgeschrittene Musikliebhaber.
      </li>
      <li>
        <strong>Schwer</strong>: 20 Fragen pro Runde. Nur für echte Musikkenner!
      </li>
    </ul>

    <p>
      Jede Schwierigkeitsstufe hat einen eigenen Titel, der freigeschaltet
      werden kann:
    </p>

    <ul>
      <li>
        <strong>Musik-Novize</strong>: Wenn du alle Fragen im leichten Modus
        richtig beantwortest.
      </li>
      <li>
        <strong>Musik-Meister</strong>: Wenn du alle Fragen im
        Schwierigkeitsgrad Mittel richtig beantwortest.
      </li>
      <li>
        <strong>Musik-Legende</strong>: Wenn du alle Fragen im
        Schwierigkeitsgrad Schwer richtig beantwortest.
      </li>
    </ul>

    <h2>Punktesystem</h2>

    <ul>
      <li>Du erhältst <strong>50 Punkte</strong> für jede richtige Antwort.</li>
      <li>Für falsche Antworten werden keine Punkte abgezogen.</li>
    </ul>

    <p>
      Die Anzahl der Fragen und die maximal erreichbare Punktzahl variieren je
      nach Schwierigkeitsgrad:
    </p>

    <ul>
      <li><strong>Leicht</strong>: 10 Fragen, maximal 500 Punkte</li>
      <li><strong>Mittel</strong>: 15 Fragen, maximal 750 Punkte</li>
      <li><strong>Schwer</strong>: 20 Fragen, maximal 1000 Punkte</li>
    </ul>

    <h2>Goldene Schallplatten</h2>
    <p>
      Wenn du alle Fragen einer Kategorie richtig beantwortest, gewinnst du eine
      spezielle <span class="golden-lp">goldene Schallplatte</span>. Diese LP
      ist je nach Schwierigkeitsgrad unterschiedlich:
    </p>

    <ul>
      <li>
        <strong>Leicht</strong>: Du erhältst den Titel “Musik-Novize”.
      </li>
      <li>
        <strong>Mittel</strong>: Du erhältst den Titel “Musik-Meister”.
      </li>
      <li>
        <strong>Schwer</strong>: Du erhältst den Titel “Musik-Legende”.
      </li>
    </ul>

    <p>
      Sammle Goldene LPs in einer Vielzahl von Genres und Schwierigkeitsgraden,
      um deinen Fortschritt unter Beweis zu stellen.
    </p>

    <h2>Ranglisten</h2>
    <p>
      Das Spiel enthält ein <strong>Rankingsystem</strong>, das dich mit anderen
      Spielern vergleicht. Deine Platzierung in den <strong>Top 10</strong> hängt
      von den Punkten ab, die du in allen Kategorien gesammelt hast.
    </p>

    <ul>
      <li>
        <strong>Genrespezifische Rangliste:</strong> Zeigt die besten Spieler in
        einem bestimmten Genre. Hier kannst du deine Leistung in deinem bevorzugten
        Genre mit anderen vergleichen.
      </li>
      <li>
        <strong>Gesamtrangliste:</strong> Hier werden die besten Spielerinnen und
        Spieler aller Kategorien zusammengefasst.
      </li>
      <li>
        Auch wenn du nicht in den <strong>Top 10</strong> bist, wird deine aktuelle
        Platzierung immer unter den Ranglisten angezeigt, sodass du weißt, wie nahe
        du an den besten Spielern dran bist.
      </li>
    </ul>

    <h2>Tipps & Tricks</h2>
    <p>
      Hier sind einige nützliche Tipps, die dir helfen können, besser mit
      MelodyMind zurechtzukommen:
    </p>
    <ul>
      <li>
        <strong>Starte im leichten Modus:</strong> Starte im leichten Modus, um dich
        mit der Spielmechanik und der Art der Fragen vertraut zu machen. Das gibt
        dir Sicherheit, bevor du dich an die schwierigeren Levels wagst.
      </li>
      <li>
        <strong>Wähle deine Stärken:</strong> Spiele in den Musikrichtungen, in denen
        du dich am besten auskennst. Du kannst dich später immer noch in anderen
        Genres verbessern.
      </li>
      <li>
        <strong>Übe regelmäßig:</strong> Je öfter du spielst, desto besser wirst
        du. Wiederhole Genres, in denen du nicht so gut abgeschnitten hast, um deine
        Punktzahl zu verbessern.
      </li>
      <li>
        <strong>Behalte deine Platzierung im Auge:</strong> Verfolge regelmäßig deine
        Fortschritte in den genrespezifischen und globalen Ranglisten. Das spornt
        dich an, noch mehr Punkte zu sammeln und dich zu verbessern.
      </li>
      <li>
        <strong>Konzentriere dich auf Genauigkeit:</strong> Anstatt zu raten, wenn
        du dir nicht sicher bist, nimm dir einen Moment Zeit, um die Frage genau
        zu lesen. Für eine falsche Antwort bekommst du keine Punkte.
      </li>
      <li>
        <strong>Bewältige die schwierigen Fragen:</strong> Der Schwere Modus ist
        eine größere Herausforderung. Spiele zuerst die leichten und mittleren Runden,
        bevor du den schweren Modus ausprobierst.
      </li>
    </ul>

    <p>
      Wenn du diese Tipps und Tricks befolgst, kannst du nicht nur mehr Goldene
      LPs gewinnen, sondern dich auch in der Rangliste weiter nach oben
      arbeiten.
    </p>
  </div>

  <style lang="scss">
    h1 {
      margin-bottom: var(--padding-large);
      font-size: var(--header-font-size);
      color: var(--text-color);
    }

    h2 {
      margin-bottom: var(--padding-medium);
      font-size: 1.5em;
      color: var(--text-color);
    }

    p {
      margin-bottom: var(--padding-medium);
      font-size: var(--body-font-size);
    }

    ul {
      margin-bottom: var(--padding-medium);
      padding-left: var(--padding-large);
      list-style-type: disc;
    }

    .rules-container {
      max-width: 480px;
      margin: 1rem auto;
      padding: var(--padding-large);

      background-color: var(--secondary-color);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
    }

    .golden-lp,
    .highlight {
      font-weight: 600;
    }
  </style>
</Layout>
