---
import Layout from "../layouts/Layout.astro";
import { getAuthToken} from "../utils/spotify";

const authToken = await getAuthToken();

const response = await fetch(`https://api.spotify.com/v1/recommendations/available-genre-seeds?locale=de_DE`, {
    headers: {
        Authorization: `Bearer ${authToken}`,
    },
});

const genres = await response.json();

function getGenreName(genre: string | number) {
  const genreMap = {
    'acoustic': 'Akustik',
    'afrobeat': 'Afrobeat',
    'alt-rock': 'Alternative Rock',
    'alternative': 'Alternative',
    'ambient': 'Ambient',
    'anime': 'Anime',
    'black-metal': 'Black Metal',
    'bluegrass': 'Bluegrass',
    'blues': 'Blues',
    'bossanova': 'Bossa Nova',
    'brazil': 'Brasilianisch',
    'breakbeat': 'Breakbeat',
    'british': 'Britisch',
    'cantopop': 'Cantopop',
    'chicago-house': 'Chicago House',
    'children': 'Kinderlied',
    'chill': 'Chillout',
    'classical': 'Klassik',
    'club': 'Club',
    'comedy': 'Komödie',
    'country': 'Country',
    'dance': 'Tanz',
    'dancehall': 'Dancehall',
    'death-metal': 'Death Metal',
    'deep-house': 'Deep House',
    'detroit-techno': 'Detroit Techno',
    'disco': 'Disco',
    'disney': 'Disney',
    'drum-and-bass': 'Drum and Bass',
    'dub': 'Dub',
    'dubstep': 'Dubstep',
    'edm': 'Electronic Dance Music',
    'electro': 'Elektro',
    'electronic': 'Elektronik',
    'emo': 'Emo',
    'folk': 'Folk',
    'forro': 'Forró',
    'french': 'Französisch',
    'funk': 'Funk',
    'garage': 'Garage',
    'german': 'Deutsch',
    'gospel': 'Gospel',
    'goth': 'Gothic',
    'grindcore': 'Grindcore',
    'groove': 'Groove',
    'grunge': 'Grunge',
    'guitar': 'Gitarre',
    'happy': 'Fröhlich',
    'hard-rock': 'Hard Rock',
    'hardcore': 'Hardcore',
    'hardstyle': 'Hardstyle',
    'heavy-metal': 'Heavy Metal',
    'hip-hop': 'Hip-Hop',
    'holidays': 'Ferien',
    'honky-tonk': 'Honky Tonk',
    'house': 'House',
    'idm': 'Intelligent Dance Music',
    'indian': 'Indisch',
    'indie': 'Indie',
    'indie-pop': 'Indie Pop',
    'industrial': 'Industrial',
    'iranian': 'Iranisch',
    'j-dance': 'J-Dance',
    'j-idol': 'J-Idol',
    'j-pop': 'J-Pop',
    'j-rock': 'J-Rock',
    'jazz': 'Jazz',
    'k-pop': 'K-Pop',
    'kids': 'Kinder',
    'latin': 'Latein',
    'latino': 'Lateinamerikanisch',
    'malay': 'Malaysisch',
    'mandopop': 'Mandopop',
    'metal': 'Metal',
    'metal-misc': 'Metal (Sonstiges)',
    'metalcore': 'Metalcore',
    'minimal-techno': 'Minimal Techno',
    'movies': 'Filmmusik',
    'mpb': 'MPB',
    'new-age': 'New Age',
    'new-release': 'Neuveröffentlichung',
    'opera': 'Oper',
    'pagode': 'Pagode',
    'party': 'Party',
    'philippines-opm': 'Philippines OPM',
    'piano': 'Klavier',
    'pop': 'Pop',
    'pop-film': 'Popfilm',
    'post-dubstep': 'Post-Dubstep',
    'power-pop': 'Power Pop',
    'progressive-house': 'Progressive House',
    'psych-rock': 'Psychedelic Rock',
    'punk': 'Punk',
    'punk-rock': 'Punk Rock',
    'r-n-b': 'R&B',
    'rainy-day': 'Regentag',
    'reggae': 'Reggae',
    'reggaeton': 'Reggaeton',
    'road-trip': 'Straßenreise',
    'rock': 'Rock',
    'rock-n-roll': 'Rock and Roll',
    'rockabilly': 'Rockabilly',
    'romance': 'Romantik',
    'sad': 'Traurig',
    'salsa': 'Salsa',
    'samba': 'Samba',
    'sertanejo': 'Sertanejo',
    'show-tunes': 'Showmelodien',
    'singer-songwriter': 'Sänger-Songwriter',
    'ska': 'Ska',
    'sleep': 'Schlaf',
    'songwriter': 'Songwriter',
    'soul': 'Soul',
    'soundtracks': 'Soundtracks',
    'spanish': 'Spanisch',
    'study': 'Studium',
    'summer': 'Sommer',
    'swedish': 'Schwedisch',
    'synth-pop': 'Synth-Pop',
    'tango': 'Tango',
    'techno': 'Techno',
    'trance': 'Trance',
    'trip-hop': 'Trip-Hop',
    'turkish': 'Türkisch',
    'work-out': 'Fitness',
    'world-music': 'Weltmusik'
  };

  return genreMap[genre as keyof typeof genreMap] || genre;
}
---

<Layout title="Spotify">
  <div>
    <h1>Spotify Genres</h1>
    <ul>
        {genres.genres.map((genre: any) => (
        <li>{genre} - {getGenreName(genre)} </li>
        ))}
    </ul>
  </div>
</Layout>
