---
import { getAuthToken, getAlbumId, getSongId, getPreviewUrl } from "../utils/spotify";

const albumName = "Master of Puppets";
const bandName = "Metallica";

const authToken = await getAuthToken();
const { albumId, albumCoverUrl, albumUrl } = await getAlbumId(authToken, albumName, bandName);
const songId = await getSongId(authToken, albumId);
const previewUrl = await getPreviewUrl(authToken, songId);
---

<html>
  <head>
    <title>Hörschnipsel</title>
  </head>
  <body>
    <h1>Hörschnipsel</h1>
    <div>{albumCoverUrl}</div>
    <div>{previewUrl}</div>
    <div>{albumUrl}</div>
  </body>
</html>
