---
import { getAuthToken, getAlbumId, getSongId, getPreviewUrl } from "../utils/spotify";

const albumName = "Master of Puppets";
const bandName = "Metalica";

const authToken = await getAuthToken();
const { albumId, albumCoverUrl } = await getAlbumId(authToken, albumName, bandName);
const songId = await getSongId(authToken, albumId);
const previewUrl = await getPreviewUrl(authToken, songId);
---

<html>
  <head>
    <title>Hörschnipsel</title>
  </head>
  <body>
    <h1>Hörschnipsel</h1>
    <img src={albumCoverUrl} alt="Album-Cover" />
    <audio controls>
      <source src={previewUrl} type="audio/mpeg" />
      Ihr Browser unterstützt kein Audio-Element.
    </audio>

    <div>{albumCoverUrl}</div>
    <div>{previewUrl}</div>
  </body>
</html>
