---
import Layout from "@layouts/Layout.astro";
import HeaderSection from "@components/User/HeaderSection.astro";
import { Icon } from "astro-icon/components";
import { getGoldenLPs } from "@utils/db/getGoldenLPs";

/**
 * Get the user object from the Astro context
 */
const user = Astro.locals.user;

/**
 * If the user is not logged in, redirect them to the login page.
 */
if (!user) {
  /**
   * Redirect the user to the login page.
   */
  return Astro.redirect("/");
}

const goldenLPs = await getGoldenLPs(user?.id);
---

<Layout title="User Profile">
  <div class="content">
    <HeaderSection />

    <div class="goldenlps">
      <div class="goldenlpsHeader">
        <div class="lpHeadline">Meine gewonnene Schallplatten</div>
      </div>
      <div class="lpsRoot">
        {
          Object.keys(goldenLPs).map((genre) => (
            <div class="goldenlpsItem">
              <div class="lpGroup">
                <Icon name="golden-lp" width={80} height={80} />
              </div>
              <div class="lpText">{genre}</div>
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <style lang="scss">
    .content {
      padding: var(--spacing-md);
      background-color: var(--secondary-color);
      border-radius: var(--border-radius); /* Abgerundete Ecken */
      box-shadow: var(--box-shadow); /* Schatten für den Content-Container */
    }

    .lpHeadline {
      font-size: 1.5rem; /* Größere Schriftgröße für Überschrift */
      font-weight: 600;
      color: var(--highlight-color); /* Primärfarbe für den Titel */
      margin-bottom: var(--spacing-md); /* Abstand nach unten */
      text-align: center;
    }

    .goldenlps {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-lg); /* Großer Abstand zwischen den LPs */
      align-items: center; /* Zentrierte Ausrichtung */
      padding: var(--spacing-md) var(--spacing-lg); /* Padding für den Innenabstand */
      background: var(--background-color); /* Hintergrundfarbe */
      border-radius: var(--border-radius); /* Abgerundete Ecken */
      box-shadow: var(--box-shadow); /* Schatten für Tiefe */
      max-width: 800px; /* Maximale Breite für bessere Ausrichtung */
      margin: 0 auto; /* Zentrierung der goldenen LPs */
    }

    .lpsRoot {
      display: flex;
      flex-wrap: wrap; /* Flexibles Layout mit Zeilenumbruch */
      gap: var(--spacing-md); /* Abstand zwischen den Items */
      justify-content: center; /* Zentrierte Anordnung der LPs */
    }

    .goldenlpsItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: var(
        --secondary-color
      ); /* Hintergrundfarbe der LP-Items */
      border-radius: var(--border-radius); /* Abgerundete Ecken */
      padding: var(--spacing-s); /* Innenabstand der LP-Items */
      box-shadow: var(--box-shadow); /* Schatten für plastischen Effekt */
    }

    .lpGroup {
      margin-bottom: var(--spacing-xs); /* Abstand zwischen Icon und Text */
    }

    .lpText {
      font-size: 1rem; /* Größere Schriftgröße für Lesbarkeit */
      font-weight: 500; /* Etwas fetterer Text für Klarheit */
      color: var(--text-color); /* Standard Textfarbe */
      text-align: center; /* Zentrierter Text */
    }
  </style>
</Layout>
