---
import Layout from "@layouts/Layout.astro";
import HeaderSection from "@components/User/HeaderSection.astro";
import { Icon } from "astro-icon/components";
import { getGoldenLPs } from "@utils/db/getGoldenLPs";

/**
 * Get the user object from the Astro context
 */
const user = Astro.locals.user;

/**
 * If the user is not logged in, redirect them to the login page.
 */
if (!user) {
  /**
   * Redirect the user to the login page.
   */
  return Astro.redirect("/");
}

const goldenLPs = await getGoldenLPs(user?.id);
---

<Layout title="User Profile">
  <div class="content">
    <HeaderSection />

    <div class="goldenlps">
      <div class="goldenlpsHeader">
        <div class="lpHeadline">Meine gewonnene Schallplatten</div>
      </div>
      <div class="lpsRoot">
        {
          Object.keys(goldenLPs).map((genre) => (
            <div class="goldenlpsItem">
              <div class="lpGroup">
                <Icon name="golden-lp" width={80} height={80} />
              </div>
              <div class="lpText">{genre}</div>
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <style lang="scss">
    .content {
      padding: var(--padding-medium);
      background-color: var(--secondary-color);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
    }

    .lpHeadline {
      margin-bottom: var(--padding-medium);

      font-size: 1.5rem;
      font-weight: 600;
      color: var(--highlight-color);
      text-align: center;
    }

    .goldenlps {
      display: flex;
      flex-direction: column;
      gap: var(--padding-large);
      align-items: center;

      margin: 0 auto;
      padding: var(--padding-medium) var(--padding-large);

      background: var(--background-color);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
    }

    .lpsRoot {
      display: flex;
      flex-wrap: wrap;
      gap: var(--padding-medium);
      justify-content: center;
    }

    .goldenlpsItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      padding: var(--padding-small);

      background-color: var(--secondary-color);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
    }

    .lpGroup {
      margin-bottom: var(--padding-small);
    }

    .lpText {
      font-size: 1rem;
      font-weight: 600;
      color: var(--text-color);
      text-align: center;
    }
  </style>
</Layout>
