---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import UserPic from "../assets/user.jpg";
---

<Layout title="User Profile">
  <div class="container">
    <Picture class="cover" src={UserPic} formats={["avif", "webp"]} alt="" />
  </div>
</Layout>

<style>
  .container {
    position: relative;
  }

  .cover {
    width: 100%;
    height: auto;
  }
</style>
