---
import Layout from "@layouts/Layout.astro";
import GoldenLPsSection from "@components/User/GoldenLPsSection.astro";
import FrameSection from "@components/User/FrameSection.astro";
import HeaderSection from "@components/User/HeaderSection.astro";

/**
 * Get the user object from the Astro context
 */
const user = Astro.locals.user;

/**
 * If the user is not logged in, redirect them to the login page.
 */
if (!user) {
	/**
	 * Redirect the user to the login page.
	 */
	return Astro.redirect("/");
}
---

<Layout title="User Profile" showHeader={false}>
  <div class="content">
    <HeaderSection />

    <FrameSection />

    <GoldenLPsSection />
  </div>
</Layout>

<style lang="scss">
  .content {
    margin: 0 var(--spacing-spacing-s) var(--spacing-spacing-xl);
  }
</style>

<script>
  import { initLocalStorage } from "@utils/share/initLocalStorage";
  import { changeFrame } from "@utils/user/changeFrame";
  import { checkLocalStorageOnLoad } from "@utils/user/checkLocalStorageOnLoad";
  import { selectFrameItem } from "@utils/user/selectFrameItem";
  import { updateDisplay } from "@utils/user/updateDisplay";

  /**
   * Initializes the user's local storage on page load.
   * Sets the userFrameSelected value to "rocket" if it doesn't exist.
   * Calls the checkLocalStorageOnLoad function to update the user's local storage.
   * Gets the WonPopRockBrain and WonBrainFrame values from local storage.
   * Calls the updateDisplay function to update the display based on the values.
   * Calls the selectFrameItem function to select the frame item.
   * Calls the changeFrame function to handle frame changes.
   */
  window.addEventListener("load", function () {
    // Initialize the user's local storage and set the userFrameSelected value to "unknown" if it doesn't exist
    initLocalStorage("userFrameSelected", "unknown");

    // Check the user's local storage and update the values
    checkLocalStorageOnLoad();

    // Get the WonPopRockBrain and WonBrainFrame values from local storage
    const wonPopRockBrain = localStorage.getItem("WonPopRockBrain") === "true";
    const wonBrainFrame = localStorage.getItem("WonBrainFrame") === "true";

    // Call the updateDisplay function to update the display based on the values
    updateDisplay(wonPopRockBrain, wonBrainFrame);

    // Call the selectFrameItem function to select the frame item
    selectFrameItem();

    // Call the changeFrame function to handle frame changes
    changeFrame();
  });
</script>
