---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
import ThreeJoker from "../../components/HeaderItems/ThreeJoker.astro";
---

<Layout title="Spiel-Home">
  <ThreeJoker slot="left-headercol" />

  <div id="overlay" class="overlay">
    <div class="overlay-content">
      <div class="headline">Runde 1 / 3</div>
      <div class="subline">
        Klicken Sie auf das Albumcover und sortieren Sie die Alben mithilfe der Pfeile in die richtige Reihen-folge nach
        <span class="whiteText">Erscheinungsjahr: vorne das neueste, hinten das älteste. </span>
      </div>
      <div class="centerButton">
        <Button id="gameButton" buttonText="spielen" url="#" />
      </div>
    </div>
  </div>
  <div id="overlay2" class="overlay2">
    <div class="overlay2-content">
      <Icon name="clock" width={200} height={200} />
      <div class="headline">00:00</div>
      <div class="subline">Zeit ist abgelaufen!</div>
      <div class="centerButton">
        <Button buttonText="weiter" url="/results/result-one-false" />
      </div>
    </div>
  </div>

  <div class="introText">
    <div class="headline">Runde 1 / 3</div>
    <div class="subline">Sortieren Sie nach dem <span class="whiteText">Erscheinungsjahr!</span></div>
  </div>
  <div class="category"></div>
  <div class="timer">
    <Icon name="clock" width={48} height={48} />
    <span id="minutes">02</span>:<span id="seconds">00</span>

    <div class="finishButton">
      <Button url="/results/result-one" />
    </div>
  </div>
</Layout>

<style>
  .overlay,
  .overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* ensures overlay is on top */
    visibility: hidden;
  }

  .overlay-content,
  .overlay2-content {
    display: flex;
    width: 366px;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3);
  }

  .introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-15);
    margin-bottom: var(--spacing-spacing-md);
  }

  .headline {
    color: var(--colour-text-primary);
    leading-trim: both;
    text-edge: cap;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.36px;
  }

  .subline {
    color: var(--colour-text-secondary, #aeaeae);
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .whiteText {
    color: var(--colour-text-primary);
  }

  .centerButton {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-spacing-md);
  }

  .finishButton {
    margin-left: var(--spacing-spacing-md);
  }

  .timer {
    padding: 24px 20px 23px 112px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    color: var(--colour-text-primary);
  }
</style>

<script>
  let timeRemaining = 120;
  let timerInterval: number | null = null;

  const minutesElement = document.getElementById("minutes")!;
  const secondsElement = document.getElementById("seconds")!;
  const overlay2 = document.getElementById("overlay2");

  function updateTime() {
    const minutes = Math.floor(timeRemaining / 60);
    const seconds = timeRemaining % 60;

    minutesElement.textContent = String(minutes).padStart(2, "0");
    secondsElement.textContent = String(seconds).padStart(2, "0");

    if (timeRemaining === 0) {
      clearInterval(timerInterval!);
      overlay2!.style.visibility = "visible";
    } else {
      timeRemaining--;
    }
  }

  function startTimer() {
    timerInterval = window.setInterval(updateTime, 1000);
  }

  window.addEventListener("load", function (_event: Event): void {
    const overlay = document.getElementById("overlay");

    const button = document.getElementById("gameButton");

    overlay!.style.visibility = "visible";
    overlay2!.style.visibility = "hidden";

    button!.addEventListener("click", (_event: MouseEvent) => {
      overlay!.style.visibility = "hidden";

      startTimer();
    });
  });
</script>
