---
interface Props {
  description?: string;
  textSize?: string;
}

const { description, textSize = "text-lg" } = Astro.props as Props;
---

<p
  class={`${textSize} leading-relaxed mb-10 text-pretty text-zinc-300`}
>
  {description || <slot />}
</p>
