---
interface Props {
  headline: string;
  image?: any;
  isDisabled?: boolean;
}

const { headline = "", image, isDisabled = false } = Astro.props;

import { When } from "@astropub/flow";
import { Picture } from "astro:assets";
---

<div class="playlistItem">
  <When test={isDisabled}>
    <div class="disabled">Demnächst verfügbar</div>
  </When>
  <Picture
    class:list={["cover", { coverDisabled: isDisabled }]}
    src={image}
    width={130}
    height={130}
    formats={["avif", "webp"]}
    alt=""
  />
  <div class="headline">{headline}</div>
</div>

<style lang="scss">
  .playlistItem {
    position: relative;
    width: 7.438rem;
    margin-bottom: var(--padding-medium); /* Nutze dein Padding für Abstand */
    padding: var(--padding-small); /* Kleines Padding für inneren Abstand */
    background-color: var(
      --secondary-color
    ); /* Sekundärfarbe für den Hintergrund */
    border-radius: var(
      --border-radius
    ); /* Abrundung mit deiner border-radius Variable */
    box-shadow: var(--box-shadow); /* Schatten gemäß deiner Design-Vorgabe */

    @media screen and (min-width: 25.625rem) {
      width: 10.313rem;
    }
  }

  .cover {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius); /* Runde Ecken für das Bild */
    transition: opacity var(--transition-speed); /* Smooth transition für Hover */

    &.coverDisabled {
      opacity: 0.4; /* Transparenz für deaktivierte Elemente */
    }
  }

  .disabled {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(
      0,
      0,
      0,
      0.6
    ); /* Halbtransparenter Hintergrund für disabled */
    padding: var(--padding-small); /* Padding für mehr Platz um den Text */
    color: var(--button-text-color); /* Textfarbe aus deiner Button-Variable */
    border-radius: var(--border-radius); /* Gleiche Abrundung */
    font-size: 0.875rem; /* Textgröße für mobile Bildschirme */
    text-align: center;
    line-height: 1.5;

    @media screen and (min-width: 25.625rem) {
      font-size: 1.125rem; /* Größerer Text für größere Bildschirme */
    }
  }

  .headline {
    margin-top: var(--padding-small); /* Abstand zwischen Bild und Text */
    font-weight: 700;
    font-size: var(--body-font-size); /* Größe aus deiner Variablen */
    color: var(--text-color); /* Textfarbe */
    line-height: 1.5;
  }
</style>
