---
interface Props {
  headline: string;
  image?: any;
  isDisabled?: boolean;
}

const { headline = "", image, isDisabled = false } = Astro.props;

import { When } from "@astropub/flow";
import { Picture } from "astro:assets";
---

<div class="playlistItem">
  <When test={isDisabled}>
    <div class="disabled">Demnächst verfügbar</div>
  </When>
  <Picture
    class:list={["cover", { coverDisabled: isDisabled }]}
    src={image}
    width={130}
    height={130}
    formats={["avif", "webp"]}
    alt=""
  />
  <div class="headline">{headline}</div>
</div>

<style lang="scss">
  .playlistItem {
    position: relative;
    width: 7.438rem;

    @media screen and (width >= 25.625rem) {
      width: 10.313rem;
    }
  }

  .cover {
    border-radius: var(--radius-rounded);
    width: 100%;
    height: auto;

    &.coverDisabled {
      opacity: 0.4;
    }
  }

  .disabled {
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 0;
    text-align: center;
    font-size: 0.875rem;

    @media screen and (min-width: 25.625rem) {
      font-size: 1.125rem;
    }
  }

  .headline,
  .disabled {
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    color: var(--text-color);
  }

  .headline {
    font-size: 1.125rem;
  }
</style>
