---
interface Props {
  headline: string;
  image?: any;
  isDisabled?: boolean;
}

const { headline = "", image, isDisabled = false } = Astro.props;

import { When } from "@astropub/flow";
import { Picture } from "astro:assets";
---

<div class="playlistItem">
  <When test={isDisabled}>
    <div class="disabled">Demnächst verfügbar</div>
  </When>
  <Picture
    class:list={["cover", { coverDisabled: isDisabled }]}
    src={image}
    width={130}
    height={130}
    formats={["avif", "webp"]}
    alt=""
  />
  <div class="headline">{headline}</div>
</div>

<style lang="scss">
  .playlistItem {
    position: relative;

    width: 7.438rem;
    margin-bottom: var(--padding-medium);
    padding: var(--padding-small);

    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    @media screen and (width >= 25.625rem) {
      width: 10.313rem;
    }
  }

  .cover {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    transition: opacity var(--transition-speed);

    &.coverDisabled {
      opacity: 0.4;
    }
  }

  .disabled {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);

    padding: var(--padding-small);

    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--button-text-color);
    text-align: center;

    background-color: rgb(0 0 0 / 60%);
    border-radius: var(--border-radius);

    @media screen and (width >= 25.625rem) {
      font-size: 1.125rem;
    }
  }

  .headline {
    margin-top: var(--padding-small);

    font-size: var(--body-font-size);
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-color);
  }
</style>
