---
interface Props {
  headline: string;
  image?: any;
}

const { headline = "", image } = Astro.props;

import { Picture } from "astro:assets";
---

<div class="playlistItem">
  <Picture
    class="cover"
    src={image}
    width={130}
    height={130}
    formats={["avif", "webp"]}
    alt=""
  />
  <div class="headline">{headline}</div>
</div>

<style>
  .playlistItem {
    width: 130px;
  }

  .cover {
    border-radius: var(--radius-rounded);
  }

  .headline {
    color: var(--text-color);
    leading-trim: both;
    text-edge: cap;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
</style>
