---
interface Props {
  band?: string;
  album?: string;
  image?: any;
}

const { band = "", album = "", image } = Astro.props;

import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<div class="triviaItem">
  <Picture class="cover" src={image} width={126} height={126} formats={["avif", "webp"]} alt="" />
  <div class="band">{band}</div>
  <div class="album">{album}</div>
  <Icon class="star" name="star" width={39} height={37} />
</div>

<style>
  .triviaItem {
    position: relative;
    width: 126px;
    flex-direction: column;
    display: flex;
    color: var(--colour-text-primary);

    &:hover,
    &:focus-visible {
      color: #b89826;
      cursor: pointer;

      .cover {
        outline: 2px solid #b89826;
      }

      .band,
      .album {
        color: #b89826;
      }

      .star {
        transform: scale(1.25);
      }
    }
  }

  .cover {
    width: 126px;
    height: 126px;
  }

  .band {
    color: var(--colour-text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .album {
    color: var(--colour-text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .place {
    position: absolute;
    right: -14px;
    top: -14px;
    border-radius: var(--radius-radius-full);
    background: var(--colour-BTN-verification);
    color: var(--colour-text-BTN-primary);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-spacing-xxs);
    width: 31px;
    height: 31px;
  }

  .star {
    position: absolute;
    top: 45px;
    left: 45px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
  }
</style>
