---
import { Icon } from "astro-icon/components";
import Button from "../Shared/Button.astro";
---

<div class="points">
  <Icon name="coin" width={48} height={48} />
  <span class="point"></span>

  <div class="finishButton">
    <Button id="finishedButton" url="#" />
  </div>
</div>

<style>
  .finishButton {
    margin-left: var(--spacing-md);
  }

  .points {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 24px 20px 23px 112px;

    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    color: var(--text-color);
    letter-spacing: 2px;
  }

  .point {
    display: block;
    margin-left: var(--spacing-s);
  }
</style>
