---
import { Icon } from "astro-icon/components";
---

<div class="threeJoker">
  <Icon name="joker-gold" width={16.548} height={21.252} />
  <Icon name="joker-gold" width={16.548} height={21.252} />
  <Icon name="joker-gold" width={16.548} height={21.252} />
</div>

<style>
  .threeJoker {
    display: inline-flex;
    align-items: top;
    gap: var(--spacing-spacing-s);
  }
</style>
