---
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";

import Button from "../Button.astro";
---

<div class="jokerIcons">
  <div id="joker">
    <Icon name="joker-gold" width={16.548} height={21.252} />
    <Icon name="joker-gold" width={16.548} height={21.252} />
    <Icon name="joker-silver" width={16.548} height={21.252} />
  </div>

  <div id="jokeroverlay" class="jokeroverlay">
    <div class="jokercontent">
      <div class="smallheadline">Sie haben noch</div>
      <div class="jokergroup">
        <Icon name="joker-gold" width={80} height={80} />
        <Icon name="joker-gold" width={80} height={80} />
        <Icon name="joker-silver" width={80} height={80} />
      </div>
      <div class="jokeroneheadline">2 Joker</div>
      <div class="centerButton">
        <Button id="redeemjoker" buttonText="1 Joker einlösen" url="#" />
      </div>
    </div>
  </div>

  <div id="jokersolution" class="jokersolution">
    <div class="jokersolutioncontent">
      <div class="closeRoot">
        <Icon class="closeIcon" name="joker-gold" width={48} height={48} />
        <Button id="closeButton" buttonText="close" url="#" />
      </div>
      <div class="solutionRoot">
        <div class="solutionCover">
          <Picture src="/bandcover/blondie.jpg" width={240} height={240} formats={["avif", "webp"]} alt="" />
          <Icon class="share" name="share" width={48} height={48} />
        </div>
        <div class="solutionYear">16 Mio.</div>
        <div class="solutionText">
          16 Millionen mal wurde das Album „Parallel Lines“ von Blondie verkauft – und vielleicht ärgerte sich die Band
          darüber 16 Millionen mal. Denn eigentlich war sie damals nicht zufrieden damit, dieses Foto des Fotografen Edo
          Bertoglio als Cover zu nutzen. Doch zu spät: Die Plattenfirma hatte den Druck schon in Auftrag gegeben.
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .jokerIcons {
    display: inline-flex;
    align-items: top;
    gap: var(--spacing-spacing-s);
  }

  .jokeroverlay,
  .jokersolution {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* ensures overlay is on top */
    visibility: hidden;
  }

  .jokercontent,
  .jokersolutioncontent {
    display: flex;
    width: 366px;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3);
  }

  .smallheadline {
    color: var(--colour-text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .jokergroup {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
  }

  .jokeroneheadline {
    color: var(--colour-text-primary);
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
  }

  .closeRoot {
    display: flex;
    align-self: end;
  }

  .closeIcon {
    margin-right: var(--spacing-spacing-xl);
  }

  .solutionRoot {
    display: flex;
    padding: var(--spacing-spacing-s) var(--spacing-spacing-s) var(--spacing-spacing-md) var(--spacing-spacing-s);
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-spacing-md);
    border-radius: var(--radius-radius-rounded);
    background: var(--colour-BG-secondary);
  }

  .solutionCover {
    margin: 0 auto;
    position: relative;
  }

  .share {
    position: absolute;
    bottom: -10px;
    right: -25px;
  }

  .solutionYear {
    color: var(--colour-text-link);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .solutionText {
    color: var(--colour-text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
</style>

<script>
  const openJokerOverlay = document.getElementById("joker")!;
  const jokeroverlay = document.getElementById("jokeroverlay")!;
  const jokersolution = document.getElementById("jokersolution")!;

  const openJokerSolution = document.getElementById("redeemjoker");
  const closeButton = document.getElementById("closeButton");

  jokeroverlay!.style.visibility = "hidden";
  jokersolution!.style.visibility = "hidden";

  openJokerOverlay.addEventListener("click", (_event: MouseEvent) => {
    jokeroverlay!.style.visibility = "visible";
  });

  openJokerSolution?.addEventListener("click", (_event: MouseEvent) => {
    jokeroverlay!.style.visibility = "hidden";
    jokersolution!.style.visibility = "visible";
  });

  closeButton?.addEventListener("click", (_event: MouseEvent) => {
    jokeroverlay!.style.visibility = "hidden";
    jokersolution!.style.visibility = "hidden";
  });
</script>
