---
import { Icon } from "astro-icon/components";
import { When } from "@astropub/flow";

interface Props {
  title: string;
  showHeader?: boolean;
}

const { title, showHeader = true } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <When test1={showHeader}>
      <header>
        <slot name="left-headercol" />
        <div>
          <a href="/gamehome"><Icon name="cover-shuffle-logo" width={84} height={59.229} /></a>
        </div>
        <div class="iconGroup">
          <Icon name="settings" width={24} height={22.24} />
          <a href="/user"><Icon name="user" width={24} height={22.24} /></a>
        </div>
      </header>
    </When>

    <main>
      <slot />
    </main>

    <style is:global>
      :root {
        --colour-BG-primary: #111a15;
        --colour-BG-secondary: #2b2b2b;
        --colour-BTN-error: #ee0a4e;
        --colour-BTN-inverted: #1a0e38;
        --colour-BTN-verification: #2bdd6c;
        --colour-border-disabled: #686868;
        --colour-text-BTN-primary: #1a0e38;
        --colour-text-active: #ffe500;
        --colour-text-primary: #fff;
        --colour-text-secondary: #aeaeae;
        --radius-radius-full: 128px;
        --radius-radius-rounded: 8px;
        --spacing-15: 12px;
        --spacing-1: 8px;
        --spacing-2: 16px;
        --spacing-3: 24px;
        --spacing-spacing-md: 24px;
        --spacing-spacing-s: 12px;
        --spacing-spacing-xl: 40px;
        --spacing-spacing-xs: 8px;
        --spacing-spacing-xxs: 4px;
      }

      html {
        font-family: system-ui, sans-serif;
        background: var(--colour-BG-primary);
      }

      body {
        margin: 0;
        padding: 0;
        width: 480px;
        max-width: 100%;
        margin: 0 auto;
      }

      header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
        margin: var(--spacing-spacing-md) 0;
      }

      .iconGroup {
        display: inline-flex;
        align-items: top;
        gap: var(--spacing-spacing-md);
      }

      main {
        color: var(--colour-BG-primary);
        font-size: 1rem;
        line-height: 1.6;
        color: #fff;
      }
    </style>
  </body>
</html>
