---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />

    <main>
      <slot />
    </main>
  </body>

  <style is:global>
    :root {
      --colour-BG-primary: #111a15;
      --colour-BG-secondary: #2b2b2b;
      --colour-border-disabled: #686868;
      --colour-text-active: #ffe500;
      --colour-text-primary: #fff;
      --colour-text-secondary: #aeaeae;
      --radius-radius-rounded: 8px;
      --spacing-15: 12px;
      --spacing-3: 24px;
      --spacing-spacing-md: 24px;
      --spacing-spacing-s: 12px;
      --spacing-spacing-xxs: 4px;
    }

    html {
      font-family: system-ui, sans-serif;
      background: var(--colour-BG-primary);
    }

    body {
      margin: 0;
      padding: 0;
      width: 480px;
      max-width: 100%;
      margin: 0 auto;
    }

    main {
      color: var(--colour-BG-primary);
      font-size: 1rem;
      line-height: 1.6;
      color: #fff;
    }
  </style>
</html>
