---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
  <style is:global>
    :root {
      --colour-BG-primary: #111a15;
    }
    html {
      font-family: system-ui, sans-serif;
      background: var(--colour-BG-primary);
    }
    body {
      margin: 0;
      padding: 0;
    }
    main {
      margin: 0 auto;
      padding: 0;
      width: 480px;
      max-width: 100%;
      color: var(--colour-BG-primary);
      font-size: 1rem;
      line-height: 1.6;
      color: #fff;
    }
  </style>
</html>
