---
import { Icon } from "astro-icon/components";
import { When } from "@astropub/flow";
import { Image } from "astro:assets";
import Help from "@components/HeaderItems/Help.astro";
import "@fontsource/source-sans-pro/400.css";
import "@fontsource/source-sans-pro/700.css";
import "@fontsource/source-sans-pro/900.css";

interface Props {
  title: string;
  showHeader?: boolean;
  showUserLink?: boolean;
}

const { title, showHeader = true, showUserLink = true } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <When test1={showHeader}>
      <header>
        <div class="slot">
          <slot name="left-headercol" />
          <a href="/spielregeln"><Help /></a>
        </div>
        <div class="logo">
          <a href="/gamehome"
            ><Image alt="" src="/cover-rush.jpg" width={120} height={69} /></a
          >
        </div>
        <div class="iconGroup">
          <When test={showUserLink}>
            <a href="/highscores"
              ><Icon name="trophy" width={24} height={24} />
            </a>
            <a href="/user"
              ><Icon name="user-white" width={24} height={22.24} /></a
            >
            <form method="post" action="/api/logout">
              <button
                ><Icon
                  name="logout"
                  width={24}
                  height={24}
                  title="Abmelden"
                /></button
              >
            </form>
          </When>
          <When test={!showUserLink}>
            <Icon name="settings-grey" width={24} height={22.24} />
            <Icon name="user" width={24} height={22.24} />
          </When>
        </div>
      </header>
    </When>

    <main>
      <slot />
    </main>

    <style lang="scss" is:global>
      :root {
        --background-color: #1f0e16;
        --primary-color: #ffd700;
        --accent-color-1: #ff4500;
        --accent-color-2: #4da6ff;
        --accent-color-3: #32cd32;
        --accent-color-4: #ff6f61;
        --text-color: #fff;
        --colour-disabled: #250606;
        --colour-text-secondary: #aeaeae;

        /* Radiusvariablen */
        --radius-circle: 128px;
        --radius-rounded: 8px;
        --spacing-15: 12px;
        --spacing-1: 8px;
        --spacing-2: 16px;
        --spacing-3: 24px;
        --spacing-lg: 32px;
        --spacing-md: 24px;
        --spacing-s: 12px;
        --spacing-xl: 40px;
        --spacing-xs: 8px;
        --spacing-xxs: 4px;
      }

      html {
        font-family: "Source Sans Pro", sans-serif;
        background: var(--background-color);
      }

      body {
        width: 480px;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
      }

      header {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: space-between;

        margin: var(--spacing-s);
      }

      .slot {
        display: flex;
        gap: var(--spacing-s);
        width: 33.3333%;
      }

      .logo {
        width: 33.3333%;
        text-align: center;
      }

      .iconGroup {
        display: flex;
        gap: var(--spacing-s);
        align-items: top;
        justify-content: flex-end;

        width: 33.3333%;
      }

      main {
        font-size: 1rem;
        line-height: 1.6;
        color: var(--text-color);
      }

      .hasMargin {
        margin: 0 var(--spacing-s);
      }

      .resultItem {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 126px;
      }

      .resultCover {
        width: 126px;
        height: 126px;
      }

      .resultBand {
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        line-height: 120%;
        color: var(--primary-color);
      }

      .resultAlbum {
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 150%;
      }

      .resultPlace {
        position: absolute;
        top: -14px;
        right: -14px;

        display: flex;
        gap: var(--spacing-xxs);
        align-items: center;
        justify-content: center;

        width: 2rem;
        height: 2rem;

        font-size: 1.125rem;
        font-weight: 700;
        font-style: normal;
        line-height: 120%;
        color: var(--text-color);
        text-align: center;

        background: var(--accent-color-3);
        border-radius: var(--radius-circle);
      }

      .resultError {
        color: var(--text-color);
        background: var(--accent-color-1);
      }

      .resultData {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 35.28px;
        color: var(--text-color);
      }

      button {
        cursor: pointer;

        margin: 0;
        padding: 0;

        background: none;
        border: none;
      }
    </style>
  </body>
</html>
