---
import { Icon } from "astro-icon/components";
---

<div id="showButtons" class="buttons">
  <div class="arrowButton" id="up">
    <Icon name="up-arrow" width={48} height={48} />
  </div>
  <div class="arrowButton" id="down">
    <Icon name="down-arrow" width={48} height={48} />
  </div>
</div>

<style>
  .buttons {
    position: absolute;
    bottom: 1rem;
    z-index: 3;
    display: none;
    align-items: center;
    gap: 8rem;
  }

  .arrowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-s);
    border-radius: var(--radius-circle);
    background: var(--accent-color-1);
    color: var(--text-color);
    cursor: pointer;
  }

  .arrowButton.disabled {
    background: var(--colour-disabled);
    pointer-events: none;
  }
</style>
