---
import { Icon } from "astro-icon/components";
---

<div id="showButtons" class="buttons">
  <div class="arrowButton" id="up">
    <Icon name="up-arrow" width={48} height={48} />
  </div>
  <div class="arrowButton" id="down">
    <Icon name="down-arrow" width={48} height={48} />
  </div>
</div>

<style>
  .buttons {
    position: absolute;
    z-index: 3;
    bottom: 0.25rem;

    display: none;
    gap: 8rem;
    align-items: center;
  }

  .arrowButton {
    cursor: pointer;

    display: flex;
    gap: var(--spacing-s);
    align-items: center;
    justify-content: center;

    color: var(--text-color);

    background: var(--accent-color-1);
    border-radius: var(--radius-circle);
  }

  .arrowButton.disabled {
    pointer-events: none;
    background: var(--colour-text-secondary);
  }
</style>
