---
import { Icon } from "astro-icon/components";
import Button from "../Shared/Button.astro";
import { When } from "@astropub/flow";

const { minutes, seconds, showFinishButton = true } = Astro.props;
---

<div class:list={["timer", showFinishButton ? "" : "timercenter"]}>
  <Icon name="clock" width={48} height={48} />
  <span id="minutes">{minutes}</span>:<span id="seconds">{seconds}</span>

  <When test={showFinishButton}>
    <div class="finishButton">
      <Button id="endRound" url="#" />
    </div>
  </When>
</div>

<style lang="scss">
  .timer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: var(--spacing-s);
    padding: var(--spacing-s);

    font:
      900 2rem / 1.5 "Source Sans Pro",
      sans-serif;
    color: var(--text-color);
  }

  .timercenter {
    justify-content: center;
    padding-top: var(--spacing-md);
  }

  .finishButton {
    margin-left: var(--spacing-md);
  }
</style>
