---
import { Icon } from "astro-icon/components";
import Button from "../Shared/Button.astro";
import { When } from "@astropub/flow";

const { minutes, seconds, showFinishButton = true } = Astro.props;
---

<div class:list={["timer", showFinishButton ? "" : "timercenter"]}>
  <Icon name="clock" width={48} height={48} />
  <span id="minutes">{minutes}</span>:<span id="seconds">{seconds}</span>

  <When test={showFinishButton}>
    <div class="finishButton">
      <Button id="endRound" url="#" />
    </div>
  </When>
</div>

<style>
  .timer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 0.5rem;

    font-size: 2rem;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    color: var(--text-color);
    letter-spacing: 2px;
  }

  .timercenter {
    justify-content: center;
    padding: var(--spacing-md) 0 0 0;
  }

  .finishButton {
    margin-left: var(--spacing-md);
  }
</style>
